openapi: "3.0.0"
info:
  title: ApiPay.kz Partner API (S2S)
  version: "1.1.0"
  description: >-
    Server-to-server API для партнёров-интеграторов (CRM-системы, платформы).
    Позволяет программно подключать мерчантов в ApiPay, авторизовать кассира
    Kaspi, выдавать per-org X-API-Key + webhook, а также оплачивать и
    мониторить тариф мерчанта. После онбординга платёжные операции выполняются
    выданным X-API-Key через публичный API (`/api/v1`, отдельная спецификация).


    ## Аутентификация

    Все запросы — заголовок `X-Partner-Key: <ключ>`. Ключ выдаётся один раз и
    хранится только хешем (sha256). Партнёр привязан к `User`; все его
    организации принадлежат этому User — это граница авторизации. Ключ работает
    только у партнёра, чей доступ к Partner API **одобрен**: партнёр без
    одобренного доступа и неактивный ключ → `403 forbidden`. Одобрение выдаётся
    вместе с ключом либо отдельным решением; отзыв доступа гасит ключ.


    ## Границы этой спецификации

    Здесь описана **только** S2S-поверхность ключа `X-Partner-Key` —
    17 эндпоинтов. Партнёрский **кабинет**
    (`POST /api-key`, `webhook-logs`, `claim-requests`, `sandbox/toggle`,
    `production-request`, `managed-organizations` и т.д.) —
    отдельная поверхность, и в этот машинный канон она НЕ входит.


    ## Поток онбординга

    ```

    POST /organizations                           → создать организацию

    POST /organizations/{id}/kaspi-auth/init       → начать авторизацию кассира

    POST /organizations/{id}/kaspi-auth/send-phone → Kaspi шлёт SMS кассиру

    POST /organizations/{id}/kaspi-auth/verify-otp → подтвердить кодом из SMS

    POST /organizations/{id}/api-key               → получить X-API-Key + webhook

    ```

    `process_id` живёт ~10 минут — `send-phone` + `verify-otp` нужно уложить в это окно.


    ## Конверт ответов

    Успех: `{ "success": true, ... }`. Ошибка контроллера/сервиса:
    `{ "success": false, "error": "<code>", "error_code": "<code>", "message":
    "<ru>", "errors"?: {...} }` — legacy-ключ `error` дублирует `error_code` для
    back-compat; `errors` присутствует только на 422 из контроллерной проверки.
    Ошибки middleware-слоя (аутентификация/владение/production-гейт) отдают
    сокращённую форму — см. схемы `AuthError` и раздел `responses`. Ошибки
    валидации FormRequest/inline-`validate` отдают стандартную Laravel-форму
    `{ "message", "errors" }` (см. схему `LaravelValidationError`).


    ## Права интеграции

    Доступ к организации мерчанта даёт живая связь «интеграция ↔ организация», а состав
    операций — набор прав, который подтвердил мерчант. Операция вне набора отвечает
    `403 grant_not_granted`. Ответ одинаков для «права нет», «операция интеграциям не
    выдаётся» и «операции нет в каталоге прав» — по коду ответа состав набора не
    восстанавливается. Ретрай бессмысленен: набор меняет мерчант в своём кабинете.

    `403 channel_required` — доступ к этой организации **был и отозван мерчантом**. Ключ при
    этом остаётся рабочим на других организациях; восстанавливает доступ мерчант. Отдельный
    код от `grant_not_granted` намеренно — это разные ситуации.

    `404 organization_not_found` — организация вне вашего скоупа: чужая, реферальная,
    несуществующая, отвязанная вами самими либо сменившая владельца. Ответ намеренно один на
    все эти случаи и совпадает с ответом на неизвестный идентификатор.

    `403 integration_ambiguous` — на одной организации у вас больше одного живого доступа
    (две интеграции): назовите, какая из них работает с мерчантом.

    `403 grant_snapshot_unreadable` — сбой на нашей стороне (запись прав нечитаема), а не
    отказ в праве; обратитесь в поддержку.


    ## Сквозные правила

    - **Даты** — ISO-8601 в зоне Asia/Almaty (суффикс `+05:00`). Исключение —
      timestamp'ы внутри webhook-payload, которые приходят в UTC (`+00:00`).

    - **Пагинация** — плоская: `{ data, current_page, per_page, total, last_page }`.

    - **One-time secret** — `key` и `webhook_secret` возвращаются в открытом виде
      только в момент выдачи/ротации.

    - **429** — заголовок `Retry-After`; для тарифных лимитов дополнительно поле
      тела `retry_after_seconds`. Общие rate-limit'ы (throttle) отдают
      стандартную Laravel-форму `{ "message": "Too Many Attempts." }`.


    ## Rate limits

    - Общий лимит группы — 120 req/min на партнёра.

    - Создание организаций — 10 req/min на партнёра (`POST /organizations`).

    - Шаги авторизации кассира (`send-phone`, `verify-otp`) — 10 req/min на
      партнёра+организацию для боевой организации, 60 req/min для тестовой.
  contact:
    name: ApiPay.kz Support
    url: https://apipay.kz
servers:
  - url: https://api.apipay.kz/api/partner
    description: Production (базовый URL Partner API; все пути ниже — относительно него)
security:
  - PartnerKey: []
tags:
  - name: Organizations
    description: Жизненный цикл организаций мерчантов
  - name: Kaspi Auth
    description: Авторизация кассира Kaspi (3-шаговый SMS-флоу онбординга)
  - name: API Keys
    description: Выдача per-org X-API-Key мерчанта
  - name: Tariff
    description: Тариф мерчанта — каталог, статус/мониторинг, оплата, история платежей
  - name: Health
    description: Агрегированный health аккаунта партнёра
  - name: KYC
    description: Анкета клиента — статус и выдача ссылки на заполнение
  - name: Subscription sync
    description: Синхронизация подписки мерчанта с биллингом партнёра и журнал приёма
paths:
  /organizations:
    get:
      tags: [Organizations]
      summary: Список организаций
      description: >-
        Возвращает организации партнёра (scope по `partner_id`: created ∪
        referral ∪ claimed) с плоской пагинацией. Опциональные фильтры
        применяются ДО пагинации. Back-compat: ключ `organizations` сохранён
        рядом с `data` (тот же массив).
      operationId: listPartnerOrganizations
      parameters:
        - name: per_page
          in: query
          required: false
          description: "Размер страницы: 1–100"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          required: false
          description: Номер страницы (>= 1)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: status
          in: query
          required: false
          description: Фильтр по статусу организации
          schema:
            type: string
            enum: [pending, verified, suspended]
        - name: sandbox_mode
          in: query
          required: false
          description: Фильтр по sandbox-режиму (принимает true/false/1/0)
          schema:
            type: boolean
        - name: is_test
          in: query
          required: false
          description: >-
            Фильтр по тестовым организациям (принимает true/false/1/0).
            Отдельный от `sandbox_mode`: у боевой организации `sandbox_mode`
            остаётся `true` до первой авторизации кассира.
          schema:
            type: boolean
        - name: kyc_status
          in: query
          required: false
          description: >-
            Фильтр по статусу анкеты. Принимает один статус или список через
            запятую: `?kyc_status=required,needs_changes` — это клиенты, которым
            анкету нужно заполнить или переделать. Неизвестное значение и пустая
            строка отбиваются 422 (а не игнорируются молча).
          schema:
            type: string
          example: required,needs_changes
        - name: search
          in: query
          required: false
          description: LIKE-поиск по name / external_id / idn
          schema:
            type: string
            maxLength: 255
      responses:
        "200":
          description: Список организаций (пагинированный)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      organizations:
                        type: array
                        description: Back-compat алиас `data` (тот же массив).
                        items:
                          $ref: "#/components/schemas/Organization"
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Organization"
              example:
                success: true
                organizations:
                  - id: 50
                    name: ТОО Example
                    idn: "123456789012"
                    status: verified
                    sandbox_mode: false
                    is_test: false
                    has_catalog: false
                    kaspi_connected: true
                    session_mode: self
                    external_id: crm-client-42
                    origin: created
                    payment_status: active
                    payment_expires_at: "2026-09-20T10:00:00+05:00"
                    has_active_payment: true
                    created_at: "2026-05-16T10:00:00+05:00"
                data:
                  - id: 50
                    name: ТОО Example
                    origin: created
                current_page: 1
                per_page: 25
                total: 42
                last_page: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "422":
          $ref: "#/components/responses/LaravelValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Organizations]
      summary: Создать организацию мерчанта
      description: >-
        Создаёт организацию мерчанта. **Идемпотентно по `external_id`** —
        повторный запрос с тем же `external_id` возвращает существующую
        организацию (HTTP 200), новая не создаётся.
      operationId: createPartnerOrganization
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                has_catalog:
                  type: boolean
                  description: Создать организацию с каталогом товаров
                  default: false
                  example: false
                external_id:
                  type: string
                  maxLength: 255
                  description: Ваш идентификатор клиента в CRM (ключ идемпотентности)
                  example: crm-client-42
                name:
                  type: string
                  maxLength: 255
                  description: >-
                    Имя организации. При пустом/непереданном — сервис
                    автогенерит `PARTNER_<id>_<ts>` (финальное имя может
                    прийти позже на verify-otp).
                  example: ТОО Example
      responses:
        "201":
          description: Организация создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "200":
          description: Идемпотентный повтор — возвращена существующая организация
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "409":
          description: >-
            `external_id` принадлежит организации, которую вы ранее удалили
            (`DELETE /organizations/{organization}`). Удалённая организация не
            воскрешается: её API-ключи деактивированы. Для нового клиента
            используйте новый `external_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: organization_deleted
                error_code: organization_deleted
                message: >-
                  Организация с таким external_id удалена — заведите нового
                  клиента с новым external_id.
        "422":
          $ref: "#/components/responses/LaravelValidationError"
        "429":
          description: >-
            Достигнут лимит тестовых организаций на партнёра
            (`test_org_limit`) либо общий rate-limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: test_org_limit
                error_code: test_org_limit
                message: Достигнут лимит тестовых организаций.
  /organizations/{organization}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    get:
      tags: [Organizations]
      summary: Карточка организации
      operationId: getPartnerOrganization
      responses:
        "200":
          description: Карточка организации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Organizations]
      summary: Отвязать организацию
      description: Деактивирует все API-ключи организации и делает soft-delete.
      operationId: deletePartnerOrganization
      responses:
        "200":
          description: Организация отвязана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/kaspi-auth/init:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Kaspi Auth]
      summary: Шаг 1 — начать авторизацию кассира
      description: >-
        Инициализирует процесс авторизации кассира. Опциональный `force` —
        переавторизация поверх уже активной сессии (смена кассира). Без `force`
        по уже подключённой организации возвращается `409 already_connected`,
        чтобы случайный retry не уничтожил рабочую Kaspi-связку.


        Боевая организация проходит только для production-партнёра (иначе
        `403 production_access_required`); тестовая организация идёт мок-путём
        всегда.
      operationId: partnerKaspiAuthInit
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Переавторизация поверх активной сессии (смена кассира)
      responses:
        "200":
          description: Авторизация начата
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  process_id:
                    type: string
                    description: Идентификатор процесса авторизации. Живёт ~10 минут.
                    example: "3f8c1e2a-..."
                  process_status:
                    $ref: "#/components/schemas/ProcessStatus"
              example:
                success: true
                process_id: "3f8c1e2a-..."
                process_status: phone_required
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            `production_access_required` — боевая организация у sandbox-партнёра (тело —
            сокращённая форма `{ success:false, error }`); `forbidden` — доступ партнёра не одобрен;
            `kyc_required` — анкета организации ещё не одобрена, подключение кассира
            откроется после одобрения (повтор до этого бесполезен; переподключение уже
            привязанного кассира кодом не отбивается).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                production_access_required:
                  value:
                    success: false
                    error: production_access_required
                kyc_required:
                  value:
                    success: false
                    error: kyc_required
                    error_code: kyc_required
                    message: Подключение кассира откроется после одобрения анкеты.
                cashier_change_requires_merchant:
                  value:
                    success: false
                    error: cashier_change_requires_merchant
                    error_code: cashier_change_requires_merchant
                    message: Смену кассира проводит сам мерчант.
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: Организация уже подключена (без `force`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: already_connected
                error_code: already_connected
                message: К организации уже подключён кассир. Повторите с force=true, чтобы сменить его.
        "503":
          description: >-
            `entrance_auth_disabled` — подключение/переавторизация кассира временно
            недоступны (технические работы на стороне ApiPay). Повторите позже; уже
            подключённые кассиры продолжают работать.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: entrance_auth_disabled
                error_code: entrance_auth_disabled
                message: Подключение кассира временно недоступно, идут технические работы.
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/kaspi-auth/send-phone:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Kaspi Auth]
      summary: Шаг 2 — отправить номер кассира
      description: >-
        Kaspi отправляет SMS-код на телефон кассира. Лимит
        на шаги авторизации кассира — 10 req/min (боевая) / 60 req/min (тестовая)
        на партнёра+организацию. В sandbox используются тестовые номера кассира
        с детерминированными ветками успеха и ошибок.
      operationId: partnerKaspiAuthSendPhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cashier_phone]
              properties:
                cashier_phone:
                  type: string
                  description: >-
                    Номер кассира в формате `7XXXXXXXXXX` (11 цифр, ведущая 7).
                    Это телефон кассира Kaspi, НЕ телефон плательщика.
                  pattern: ^7\d{10}$
                  example: "7XXXXXXXXXX"
                confirm_duplicate:
                  type: boolean
                  default: false
                  description: >-
                    Подтверждение осознанной перепривязки: этот кассир уже подключён к
                    ДРУГОЙ организации того же владельца (для партнёрских организаций
                    владелец — сам партнёр, то есть речь о ваших же организациях). Без
                    флага такой запрос отбивается
                    `409 duplicate_cashier_confirm`. Флаг действует только на
                    организации того же владельца.
      responses:
        "200":
          description: SMS отправлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  process_status:
                    $ref: "#/components/schemas/ProcessStatus"
                  cashier_phone_masked:
                    type: string
                    nullable: true
                    description: >-
                      Эхо номера, который вы прислали, — маскированное. Сверьте его
                      ДО ввода кода из SMS: опечатка в номере тратит попытку, код
                      уходит на чужой телефон, и узнать об этом иначе нельзя.
                    example: "770***67"
              example:
                success: true
                process_status: otp_required
                cashier_phone_masked: "770***67"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            `production_access_required` — боевая организация у sandbox-партнёра (тело —
            сокращённая форма `{ success:false, error }`); `forbidden` — доступ партнёра не одобрен;
            `kyc_required` — анкета организации ещё не одобрена: SMS кассиру не отправляется
            вовсе. Повтор до одобрения бесполезен; переподключение уже привязанного кассира
            (тот же номер) кодом не отбивается.
            `cashier_change_requires_merchant` — организация принадлежит аккаунту мерчанта,
            а не партнёра, и номер отличается от телефона текущего кассира. Переавторизация
            ТОГО ЖЕ кассира и первое подключение (кассира ещё нет) проходят; смену кассира
            проводит сам мерчант — своей дверью либо по ссылке-приглашению. Повтор не поможет.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                production_access_required:
                  value:
                    success: false
                    error: production_access_required
                kyc_required:
                  value:
                    success: false
                    error: kyc_required
                    error_code: kyc_required
                    message: Подключение кассира откроется после одобрения анкеты.
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: >-
            Конфликт процесса: `no_process` (авторизация не начата — вызовите
            `init`), `context_expired` (Kaspi-контекст протух, ~10 мин — вызовите
            `init` заново), `cashier_unavailable` (подключить этого кассира
            сейчас нельзя; повтор запроса не поможет),
            `duplicate_cashier_confirm` (кассир уже подключён к ДРУГОЙ
            организации того же владельца — не блокировка, а подтверждение:
            повторите с `confirm_duplicate: true`; тело содержит `can_override` и
            `existing_organization` с `connection_status` и `invoices_count`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                context_expired:
                  value:
                    success: false
                    error: context_expired
                    error_code: context_expired
                    message: Сессия авторизации истекла, начните заново.
                duplicate_cashier_confirm:
                  summary: Дубль кассира — нужно подтверждение
                  description: >-
                    ⚠️ `can_override` и `existing_organization` лежат РЯДОМ со служебными
                    ключами конверта, а не внутри них.
                  value:
                    success: false
                    error: duplicate_cashier_confirm
                    error_code: duplicate_cashier_confirm
                    message: >-
                      Этот кассир уже подключён к другой вашей организации.
                      Повторите с confirm_duplicate=true, если это намеренно.
                    can_override: true
                    existing_organization:
                      id: 42
                      name: ТОО Example
                      connection_status: inactive
                      invoices_count: 12
        "422":
          description: >-
            `invalid_phone` (неверный формат — также возможна стандартная
            Laravel-форма валидации), `not_cashier` (номер не «чистый кассир»),
            `not_registered` (номер не зарегистрирован кассиром в Kaspi).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LaravelValidationError"
              example:
                success: false
                error: not_cashier
                error_code: not_cashier
                message: Номер не является кассиром Kaspi.
        "502":
          description: "`sms_failed` — Kaspi не вернул экран ввода OTP."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: sms_failed
                error_code: sms_failed
                message: Не удалось отправить SMS.
        "429":
          description: >-
            `rate_limited` — за сутки с этого аккаунта пробовали слишком много
            РАЗНЫХ номеров кассиров. ⚠️ Окно СУТОЧНОЕ: `Retry-After` и
            `retry_after_seconds` содержат секунды до обнуления счётчика (часы,
            не минуты) — повторять раньше бесполезно. Уже подключённые кассиры
            этого владельца в счётчик не входят, поэтому переавторизация рабочей
            точки лимитом не блокируется. Не путать с общим поминутным лимитом
            запросов к этой ручке: он отдаёт другую форму тела —
            `{ "message": "Too Many Attempts." }`, без `error_code` (схема `RateLimited`).
          headers:
            Retry-After:
              schema:
                type: integer
              description: Секунд до обнуления суточного счётчика
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitEnvelope"
              example:
                success: false
                error: rate_limited
                error_code: rate_limited
                message: Слишком много запросов. Попробуйте позже.
                retry_after_seconds: 13159
        "503":
          description: >-
            `kaspi_busy` — Kaspi временно недоступен/троттлит. Заголовок
            `Retry-After` здесь **не отдаётся** (в отличие от `rate_limited` выше
            и тарифных лимитов) — используйте собственный бэкофф, ориентир 60 с.
            `entrance_auth_disabled` — подключение кассира временно отключено на
            стороне ApiPay (технические работы); повторите позже.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                kaspi_busy:
                  value:
                    success: false
                    error: kaspi_busy
                    error_code: kaspi_busy
                    message: Kaspi временно недоступен, повторите позже.
                entrance_auth_disabled:
                  value:
                    success: false
                    error: entrance_auth_disabled
                    error_code: entrance_auth_disabled
                    message: Подключение кассира временно недоступно, идут технические работы.
  /organizations/{organization}/kaspi-auth/verify-otp:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Kaspi Auth]
      summary: Шаг 3 — подтвердить код из SMS
      description: >-
        Подтверждает код из SMS. При успехе организация финализируется
        (`status: verified`). **Неверный код возвращается с HTTP 200** и телом
        `{ success:false, error:"invalid_otp", process_status:"otp_required" }` —
        это повторяемо, сессия не сбрасывается. Лимит `partner-kaspi-auth`
        (см. send-phone).


        ⚠️ **Отличайте «неверный код» от терминального исхода.** Kaspi может
        код **принять** и увести пользователя на универсальную регистрацию
        («введите ИИН») — это значит, что номер не заведён кассиром. Тогда шаг
        отдаёт **422 `not_registered`** (а не 200), сессия авторизации
        закрывается, и повторять OTP или запрашивать SMS заново бессмысленно:
        следующий `send-phone` вернёт `409 no_process`. Нужен новый `init` —
        после того, как номер добавлен кассиром в Kaspi Pay → Кассиры.
      operationId: partnerKaspiAuthVerifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp]
              properties:
                otp:
                  type: string
                  description: Код из SMS, 4–6 цифр
                  pattern: ^\d{4,6}$
                  example: "1234"
      responses:
        "200":
          description: >-
            Результат проверки. Успех — `success:true` с карточкой организации
            и `process_status:"active"`. Неверный код — `success:false`,
            `error:"invalid_otp"`, `process_status:"otp_required"` (повторяемо).
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      mode:
                        type: string
                        example: self
                      organization:
                        $ref: "#/components/schemas/Organization"
                      process_status:
                        $ref: "#/components/schemas/ProcessStatus"
                  - allOf:
                      - $ref: "#/components/schemas/ErrorEnvelope"
                      - type: object
                        properties:
                          process_status:
                            $ref: "#/components/schemas/ProcessStatus"
              examples:
                success:
                  summary: Успешная верификация
                  value:
                    success: true
                    mode: self
                    organization:
                      id: 501
                      name: ТОО Синие птицы
                      status: verified
                      sandbox_mode: false
                      is_test: false
                      kaspi_connected: true
                    process_status: active
                invalid_otp:
                  summary: Неверный код (повторяемо)
                  value:
                    success: false
                    error: invalid_otp
                    error_code: invalid_otp
                    message: Некорректный код подтверждения.
                    process_status: otp_required
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            `production_access_required` — боевая организация у sandbox-партнёра;
            `forbidden` — доступ партнёра не одобрен; `kyc_required` — терминально: анкета
            организации не одобрена (редкий случай — одобрение отозвали между
            `send-phone` и `verify-otp`). Kaspi код при этом уже принял, но подключение
            не создаётся; нужен новый `init` после одобрения анкеты.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                production_access_required:
                  value:
                    success: false
                    error: production_access_required
                kyc_required:
                  value:
                    success: false
                    error: kyc_required
                    error_code: kyc_required
                    message: Подключение кассира откроется после одобрения анкеты.
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: >-
            `no_process` (авторизация не начата/истекла), `cashier_unavailable`
            (подключить этого кассира сейчас нельзя; повтор не поможет),
            `context_expired` (Kaspi потерял контекст процесса — нужен новый
            `init`, а не повтор OTP), `organization_identity_conflict`
            (Kaspi identity не совпала либо уже занята другой Organization).


            Cashier auth никогда не переносит владельца автоматически.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: no_process
                error_code: no_process
                message: Нет активного процесса авторизации.
        "422":
          description: >-
            `invalid_otp` (неверный формат — также возможна стандартная
            Laravel-форма валидации), `not_registered` (Kaspi принял код, но
            увёл на регистрацию пользователя: номер не заведён кассиром).
            **`not_registered` терминален** — сессия закрыта, повтор OTP и
            повторный `send-phone` бессмысленны (см. описание операции).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LaravelValidationError"
              example:
                success: false
                error: not_registered
                error_code: not_registered
                message: Номер не зарегистрирован как кассир Kaspi.
        "502":
          description: >-
            `organization_identity_unavailable` — Kaspi не вернул единую полную
            пару IDN + OrganizationId; persisted session и Organization не изменены.
            Остальные сбои Kaspi также могут отвечать HTTP 502.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: http_error
                error_code: http_error
                message: Сервис авторизации Kaspi временно недоступен, повторите позже.
        "503":
          description: >-
            `entrance_auth_disabled` — подключение/переавторизация кассира временно
            недоступны (технические работы на стороне ApiPay). Повторите позже; уже
            подключённые кассиры продолжают работать.
            `kaspi_busy` — Kaspi троттлит анти-абузом; сессия закрыта, нужен
            новый `init` после паузы. Заголовок `Retry-After` на партнёрской
            поверхности **не отдаётся** (см. send-phone) — используйте
            собственный бэкофф.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                entrance_auth_disabled:
                  value:
                    success: false
                    error: entrance_auth_disabled
                    error_code: entrance_auth_disabled
                    message: Подключение кассира временно недоступно, идут технические работы.
                kaspi_busy:
                  value:
                    success: false
                    error: kaspi_busy
                    error_code: kaspi_busy
                    message: Kaspi временно недоступен, повторите позже.
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/kaspi-auth/status:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    get:
      tags: [Kaspi Auth]
      summary: Статус авторизации кассира
      operationId: partnerKaspiAuthStatus
      responses:
        "200":
          description: Статус авторизации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  status:
                    type: string
                    description: Статус persisted-сессии (`none`, если сессии нет)
                    enum: [none, pending, active, expired]
                    example: none
                  process_status:
                    $ref: "#/components/schemas/ProcessStatus"
                  attempt_status:
                    type: string
                    description: >-
                      Статус отдельной попытки авторизации. Когда попытки нет — строка
                      `none`, не null. Persisted session не очищается в начале reauth.
                      Значения контрактом не фиксированы — ветвитесь по `status` и
                      `process_status`, а не по этому полю.
                    example: none
                  kaspi_connected:
                    type: boolean
                    example: false
                  current_cashier_phone_masked:
                    type: string
                    nullable: true
                    description: >-
                      Кассир, подключённый к организации СЕЙЧАС, — маскированный номер;
                      `null`, если кассира ещё нет. Отвечает на вопрос «кого я заменяю»
                      до необратимого шага. ⚠️ Это НЕ номер текущей попытки авторизации.
                    example: "770***77"
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                    description: Истечение сессии (Asia/Almaty, +05:00) либо null
              example:
                success: true
                status: none
                process_status: idle
                attempt_status: none
                kaspi_connected: false
                current_cashier_phone_masked: null
                expires_at: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ProductionRequired"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/kaspi-auth/logout:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Kaspi Auth]
      summary: Отключить кассира
      description: >-
        Полностью снимает self-связку организации: удаляет Kaspi-сессию и
        устройство её primary-кассира, переводит подключение в `inactive`.
        Приём платежей по организации после этого невозможен до повторной
        авторизации (`init → send-phone → verify-otp`).


        ⚠️ **Денежное последствие.** Возвраты по счетам, оплаченным через этого
        кассира, после отключения через API не проходят: запрос принимается, но
        возврат завершается статусом `failed` — приходит вебхук
        `invoice.refunded` со `status: failed`. Такие возвраты мерчант проводит
        вручную в приложении Kaspi Pay. Предупредите мерчанта и дайте закрыть
        возвратные обязательства до отключения.


        **Идемпотентно**: организация без подключённого кассира возвращает `200`,
        а не ошибку. Затрагивается только primary-подключение — другие кассиры
        той же организации (multi-cashier) не трогаются. В Kaspi запрос не идёт,
        поэтому узкого лимита `partner-kaspi-auth` здесь нет.


        Для **смены** кассира этот метод не нужен — достаточно
        `POST /kaspi-auth/init` с `force: true`.
      operationId: partnerKaspiAuthLogout
      responses:
        "200":
          description: Кассир отключён (или не был подключён)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  status:
                    type: string
                    description: Статус persisted-сессии после отключения
                    enum: [none, pending, active, expired]
                    example: none
                  process_status:
                    $ref: "#/components/schemas/ProcessStatus"
                  kaspi_connected:
                    type: boolean
                    example: false
              example:
                success: true
                status: none
                process_status: idle
                kaspi_connected: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ProductionRequired"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/api-key:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [API Keys]
      summary: Выдать / перевыпустить X-API-Key мерчанта
      description: >-
        Создаёт или перегенерирует per-org X-API-Key + webhook. **Идемпотентно**:
        повторный вызов перегенерирует ключ той же записи (`regenerated:true`).
        `key` и `webhook_secret` возвращаются в открытом виде **один раз**.
        `webhook_url` проходит SSRF-валидацию (приватные/внутренние адреса
        отклоняются 422). До одобрения KYC на проде webhook обязан быть доменом
        (не IP/туннель). «Risk»-адрес (nip.io, free-TLD, dynamic-DNS, перехватчик
        типа webhook.site) требует `webhook_justification` (не короче 20 символов)
        и уходит на ручную модерацию: `webhook_review_status:"pending_review"`,
        доставка уведомлений НЕ идёт до одобрения админом.
      operationId: createPartnerApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhook_url]
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Название ключа
                  example: CRM key
                webhook_url:
                  type: string
                  format: uri
                  maxLength: 500
                  description: URL для webhook-уведомлений (SSRF-валидируется)
                  example: https://your-crm.example.com/webhooks/kaspi
                webhook_secret:
                  type: string
                  maxLength: 255
                  description: >-
                    Секрет для HMAC-подписи webhook (printable ASCII).
                    Генерируется автоматически, если не указан.
                webhook_justification:
                  type: string
                  maxLength: 1000
                  description: >-
                    Объяснение (≥20 символов), почему уведомления идут на risk-адрес.
                    Обязателен для risk-хостов в режиме enforce, иначе
                    422 `webhook_justification_required`.
      responses:
        "200":
          description: Ключ выдан / перевыпущен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  key:
                    type: string
                    description: X-API-Key мерчанта в открытом виде (показывается один раз)
                  key_id:
                    type: integer
                    example: 200
                  webhook_url:
                    type: string
                    format: uri
                  webhook_secret:
                    type: string
                    description: Секрет webhook в открытом виде (показывается один раз)
                  webhook_review_status:
                    type: string
                    enum: [approved, pending_review, rejected]
                    description: >-
                      Статус модерации webhook-адреса. `approved` — доставка идёт;
                      `pending_review` — risk-адрес на ручной проверке (доставки нет
                      до одобрения); `rejected` — отклонён.
                    example: approved
                  is_org_default:
                    type: boolean
                    description: true только если у организации ещё не было дефолтного ключа
                    example: true
                  regenerated:
                    type: boolean
                    example: false
              example:
                success: true
                key: <plaintext, один раз>
                key_id: 200
                webhook_url: https://your-crm.example.com/webhooks/kaspi
                webhook_secret: whsec_xxxx
                webhook_review_status: approved
                is_org_default: true
                regenerated: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "422":
          description: >-
            Ошибка валидации тела (`webhook_url` обязателен) — стандартная
            Laravel-форма; либо отклонение webhook_url — конверт `ErrorEnvelope`
            (`error_code`: SSRF-код валидатора, `webhook_url_requires_domain`,
            `webhook_url_tunnel_forbidden`, `webhook_justification_required` или
            `webhook_url_disallowed_host`).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/LaravelValidationError"
                  - $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          $ref: "#/components/responses/RateLimited"
  /tariff-plans:
    get:
      tags: [Tariff]
      summary: Каталог тарифов
      description: >-
        Общий каталог тарифов ApiPay (без привязки к организации): 4 тарифа
        (start/business/pro/pro_max) и 12 планов (4 тарифа × периоды 1/3/6
        мес со скидками).


        Каталог отдаётся **глазами вашего партнёрского аккаунта**: если админ ApiPay
        назначил вам сетку лимитов (white-label), в `tiers[].daily_limit` и
        `tiers[].label` приходят ВАШИ значения, а `tiers[].limits_source` показывает
        источник (`partner_grid` — сетка, `config` — глобальный каталог). Сетку
        назначает только ApiPay; изменить её через API нельзя. **Цены сетка не
        меняет никогда** — `base_price` и `plans[].price` всегда глобальные. Чужая
        сетка не отдаётся ни при каких условиях.
      operationId: partnerTariffPlans
      responses:
        "200":
          description: Каталог тарифов и планов
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  tiers:
                    type: array
                    items:
                      $ref: "#/components/schemas/TariffTier"
                  plans:
                    type: array
                    items:
                      $ref: "#/components/schemas/TariffPlan"
              example:
                success: true
                tiers:
                  - { id: start, label: "Базовый", daily_limit: 60, base_price: 10000, limits_source: partner_grid }
                  - { id: business, label: Business, daily_limit: 100, base_price: 25000, limits_source: config }
                  - { id: pro, label: Pro, daily_limit: 300, base_price: 60000, limits_source: config }
                  - { id: pro_max, label: Pro Max, daily_limit: 600, base_price: 90000, limits_source: config }
                plans:
                  - { tier_id: business, period_months: 3, price: 71250, discount_percent: 5, label: "Business — 3 месяца", price_per_month: 23750 }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/tariff:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    get:
      tags: [Tariff]
      summary: Статус / мониторинг тарифа мерчанта
      description: >-
        Снимок подписки мерчанта на ApiPay. Отсутствие тарифа → `status:"none"`
        (НЕ 404). `next_payment.amount` отдаётся всегда (фолбэк на 1-мес цену).
      operationId: partnerTariffShow
      responses:
        "200":
          description: Снимок тарифа
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  tariff:
                    $ref: "#/components/schemas/TariffSnapshot"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/tariff/pay:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Tariff]
      summary: Оплатить тариф мерчанта
      description: >-
        Оплата тарифа мерчанта партнёром — счёт через Kaspi (dogfooding): телефон
        плательщика в запросе, тариф активируется асинхронно после оплаты
        (webhook `invoice.status_changed` → `paid`). Триал сохраняется —
        оплата продлевает подписку от конца триала/текущего периода.


        Боевая организация — только для **production**-партнёра (иначе
        `403 production_access_required`). Тестовая (sandbox) организация →
        мгновенная мок-активация: HTTP **201**, `payment.status:"completed"`,
        `self_api_invoice_id:null`.
      operationId: partnerTariffPay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier_id, period_months, phone]
              properties:
                tier_id:
                  type: string
                  enum: [start, business, pro, pro_max]
                  example: business
                period_months:
                  type: integer
                  enum: [1, 3, 6]
                  example: 3
                phone:
                  type: string
                  description: >-
                    Телефон плательщика; нормализуется к `8XXXXXXXXXX`
                    (regex `^8\d{10}$`). Это телефон плательщика, НЕ кассира.
                  pattern: ^8\d{10}$
                  example: "8XXXXXXXXXX"
                set_billing_phone:
                  type: boolean
                  default: false
                  description: >-
                    Записать телефон плательщика как `billing_phone` организации.
                    Авто-продление НЕ включается.
      responses:
        "201":
          description: Платёж создан (боевая — pending; sandbox — completed)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  payment:
                    $ref: "#/components/schemas/Payment"
              example:
                success: true
                payment:
                  id: 42
                  amount: 71250
                  status: pending
                  tier: business
                  period_months: 3
                  self_api_invoice_id: 778899
                  external_id: partner-tariff-501-1716900000
                  paid_at: null
                  expires_at: null
                  created_at: "2026-06-20T10:00:00+05:00"
                  failure_reason: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            `production_access_required` — боевая организация у sandbox-партнёра;
            либо `forbidden` — доступ партнёра к Partner API не одобрен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"
              example:
                success: false
                error: production_access_required
                error_code: production_access_required
                message: Требуется production-доступ.
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: >-
            `tariff_payment_pending` — у организации уже есть живой неоплаченный
            счёт тарифа (в теле — объект `payment` существующего счёта).
            `custom_tariff_locked` — у организации ИНДИВИДУАЛЬНЫЕ («Custom») условия,
            и запрошен тариф, отличный от её базового: сменить его может только
            поддержка. ⛔ Продление СВОЕГО базового тарифа не блокируется — это
            оплата, а не смена условий.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - type: object
                    properties:
                      payment:
                        $ref: "#/components/schemas/Payment"
              example:
                success: false
                error: tariff_payment_pending
                error_code: tariff_payment_pending
                message: У этой организации есть неоплаченный счёт тарифа.
                payment:
                  id: 41
                  amount: 71250
                  status: pending
        "422":
          description: >-
            `invalid_tariff_plan` — неизвестная пара tier_id/period_months
            (конверт `ErrorEnvelope`); либо стандартная Laravel-форма при
            нарушении правил FormRequest (tier_id/period_months/phone).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LaravelValidationError"
              example:
                success: false
                error: invalid_tariff_plan
                error_code: invalid_tariff_plan
                message: Некорректный тарифный план.
        "429":
          description: >-
            `tariff_payment_cooldown` — слишком много отменённых платежей.
            Заголовок `Retry-After` + поле `retry_after_seconds` (1800).
          headers:
            Retry-After:
              schema:
                type: integer
              description: Секунд до повторной попытки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitEnvelope"
              example:
                success: false
                error: tariff_payment_cooldown
                error_code: tariff_payment_cooldown
                message: Слишком много отменённых платежей. Попробуйте позже.
                retry_after_seconds: 1800
        "503":
          description: >-
            `tariff_payment_unavailable` — self-API недоступен/троттлит (счёт не
            создан, платёж отменён). Заголовок `Retry-After` + поле
            `retry_after_seconds` (30). Партнёр ретраит позже.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitEnvelope"
              example:
                success: false
                error: tariff_payment_unavailable
                error_code: tariff_payment_unavailable
                message: Не удалось создать счёт. Попробуйте позже.
                retry_after_seconds: 30
  /organizations/{organization}/tariff/assign:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Tariff]
      summary: Назначить тариф мерчанту бесплатно (режим assignment)
      description: >-
        Партнёр, чей ДОСТУП К ЭТОЙ организации работает в режиме `assignment`,
        НАЗНАЧАЕТ ей тариф бесплатно: деньги он берёт с мерчанта сам и платит ApiPay по
        договору одним счётом в месяц. Тариф активируется СИНХРОННО — счёта в Kaspi нет,
        телефон плательщика не нужен, вебхука не будет.


        ⛔ Режим переключает только ApiPay (админ). Доступ в дефолтном режиме
        `payment` получает `403 assignment_not_enabled` и платит через
        `POST .../tariff/pay` либо `.../tariff/invoice` по глобальному прайсу.


        ⚠️ Поле `tariff_billing_mode` в `GET /me` и `GET /health` — это ваш ДЕФОЛТ
        (режим, с которым заводится новый доступ к мерчанту), а не режим конкретной
        организации. Сегодня ApiPay переключает дефолт и все действующие доступы одним
        действием, поэтому расхождения между ними у вас нет.


        ⛔ Если действующего доступа к организации не записано вовсе, ответ —
        `403 partner_channel_missing`. Это не «не тот режим», а состояние, которого в
        норме не бывает: разбирает его ApiPay по обращению, ретрай смысла не имеет.


        ⛔ Вебхук `tariff.activated` на СВОЁ назначение партнёру НЕ отправляется —
        это эхо на его собственный запрос. Результат целиком в ответе
        (`payment.expires_at`) и в `GET .../tariff`.


        ⛔ Отзыва назначения у партнёра нет: снимает тариф ApiPay по обращению.


        Суточный лимит назначенного тарифа берётся из **сетки партнёра**
        (`partner_tier_limits`), если она задана, — см. `GET /tariff-plans`.
      operationId: partnerTariffAssign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier_id, period_months]
              properties:
                tier_id:
                  type: string
                  enum: [start, business, pro, pro_max]
                  description: >-
                    Если у партнёра задана сетка лимитов — допустимы ТОЛЬКО тиры,
                    присутствующие в ней (иначе `422 tier_not_in_partner_grid`).
                  example: business
                period_months:
                  type: integer
                  enum: [1, 3, 6]
                  example: 3
      responses:
        "201":
          description: Тариф назначен, срок продлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  already_assigned:
                    type: boolean
                    description: Всегда `false` на 201 (новое назначение).
                    example: false
                  payment:
                    $ref: "#/components/schemas/Payment"
              example:
                success: true
                already_assigned: false
                payment:
                  id: 91
                  amount: 0
                  status: completed
                  tier: business
                  period_months: 3
                  self_api_invoice_id: null
                  external_id: null
                  paid_at: "2026-06-20T10:00:00+05:00"
                  expires_at: "2026-09-20T10:00:00+05:00"
                  created_at: "2026-06-20T10:00:00+05:00"
                  failure_reason: null
        "200":
          description: >-
            Запрошенный горизонт УЖЕ покрыт назначением того же тарифа — срок не
            продлевается, второго платежа не создаётся. В теле — существующий платёж
            и `already_assigned: true`. Идемпотентность считается ПОКРЫТИЕМ (дата
            истечения ≥ запрошенного горизонта), а не временным окном, поэтому
            безопасна для ретраев CRM.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  already_assigned:
                    type: boolean
                    example: true
                  payment:
                    $ref: "#/components/schemas/Payment"
              example:
                success: true
                already_assigned: true
                payment:
                  id: 91
                  amount: 0
                  status: completed
                  tier: business
                  period_months: 3
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            `assignment_not_enabled` — ваш доступ к этой организации работает в режиме
            `payment`, бесплатное назначение по нему не выдано; `partner_channel_missing`
            — действующего доступа к этой организации не записано, обратитесь в поддержку;
            `partner_not_active` — партнёрский аккаунт отключён;
            `production_access_required` — боевая организация у sandbox-партнёра;
            `forbidden` — доступ партнёра не одобрен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: assignment_not_enabled
                error_code: assignment_not_enabled
                message: "Назначение тарифа недоступно: партнёр работает в режиме оплаты."
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: >-
            `test_organization` — организация тестовая (`is_test`): реальных активов
            она не копит, апрув production удаляет её каскадом. `hard_limited_org` — у
            организации действует жёсткое тарифное ограничение; снимает его ApiPay по
            обращению, назначением оно не амнистируется. `custom_tariff_locked` — у
            организации индивидуальные условия, и запрошен не её базовый тариф.
            `tariff_payment_pending` — по организации висит живой неоплаченный счёт
            тарифа (или параллельно идёт другая тарифная операция).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: hard_limited_org
                error_code: hard_limited_org
                message: >-
                  У организации действует жёсткое тарифное ограничение — снимает
                  поддержка.
        "422":
          description: >-
            `tier_not_in_partner_grid` — запрошенный тир отсутствует в сетке лимитов
            партнёра (сетка задана, значит она и есть перечень доступного);
            `assignment_horizon_exceeded` — назначение увело бы дату истечения дальше
            чем на 12 месяцев вперёд от сегодня; либо стандартная Laravel-форма при
            нарушении правил FormRequest (tier_id/period_months).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LaravelValidationError"
              example:
                success: false
                error: tier_not_in_partner_grid
                error_code: tier_not_in_partner_grid
                message: Этот тариф не входит в вашу тарифную сетку.
  /organizations/{organization}/tariff/invoice:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [Tariff]
      summary: Выписать счёт на оплату тарифа (INVOICE для юрлиц)
      description: >-
        Синхронно формирует PDF-«Счёт на оплату» тарифа с реквизитами покупателя
        (юрлица) и возвращает публичную ссылку `download_url`. Оплата —
        **банковским переводом**; тариф активируется ВРУЧНУЮ владельцем ApiPay
        после поступления средств — **автоактивации НЕТ**. Счёт виден в истории
        платежей (`GET .../tariff/payments`) как `payment_method=invoice` с
        под-объектом `invoice`; переход статуса `pending`→`completed` = тариф
        выдан (поллинг). Об активации партнёру уходит вебхук `tariff.activated`.


        Боевая организация — только для **production**-партнёра (иначе
        `403 production_access_required`).


        ⛔ Тестовая (sandbox) организация счёт **не получает** —
        `409 test_organization`. Она эфемерна: переход партнёра в production
        удаляет её вместе с тарифом, поэтому реальные деньги на неё не
        принимаются. Тариф песочницы проверяется мок-активацией
        `POST .../tariff/pay`.
      operationId: partnerTariffInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier_id, period_months, buyer_bin, buyer_name]
              properties:
                tier_id:
                  type: string
                  enum: [start, business, pro, pro_max]
                  example: business
                period_months:
                  type: integer
                  enum: [1, 3, 6]
                  example: 1
                buyer_bin:
                  type: string
                  description: БИН/ИИН покупателя (ровно 12 цифр).
                  pattern: ^\d{12}$
                  example: "123456789012"
                buyer_name:
                  type: string
                  maxLength: 255
                  example: ТОО "Ромашка"
                buyer_address:
                  type: string
                  nullable: true
                  maxLength: 500
                  example: г. Алматы, ул. Абая, 1
                contract:
                  type: string
                  nullable: true
                  maxLength: 255
                  example: Договор №42
                upgrade:
                  type: boolean
                  default: false
                  description: >-
                    Счёт на ПЕРЕХОД между тарифами: сумма = разница базовых цен
                    (Start → Business = 15 000 ₸, а не 25 000), `period_months`
                    обязан быть `1`, `tier_id` — целевой тариф. «С какого тарифа»
                    определяет сервер по активному платному тарифу организации;
                    передать это значение нельзя. Оплата по телефону
                    (`tariff/pay`) апгрейда не знает — там всегда полная цена плана.
                  example: false
      responses:
        "201":
          description: Счёт выписан, PDF готов
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: "#/components/schemas/TariffInvoiceIssued"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            `production_access_required` — боевая организация у sandbox-партнёра;
            либо `forbidden` — доступ партнёра к Partner API не одобрен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"
              example:
                success: false
                error: production_access_required
                error_code: production_access_required
                message: Требуется production-доступ.
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: >-
            `invoice_locked` — другая операция выписки счёта для этой организации
            ещё в процессе, повторите запрос. `test_organization` —
            организация тестовая (`is_test`): счёт на реальные деньги не
            выписывается, ретрай бессмыслен. `organization_deleted` — организация
            удалена. `no_paid_tariff` (только при `upgrade`) — у организации нет
            активного платного тарифа, переходить не с чего. `upgrade_invoice_pending`
            (только при `upgrade`) — по организации уже висит неоплаченный счёт на
            переход, второй не выписывается; он же приходит в поле `invoice`.
            ⛔ `invoice_pdf_failed` — счёт ВЫПИСАН, но PDF не собрался: строки в БД
            созданы, номер выделен, **повторять запрос нельзя** (ретрай напечатает
            второй бухгалтерский документ). В теле — `invoice` с `payment_id` и
            `number`, без `download_url`. Заберите `number` и обратитесь в поддержку —
            PDF перевыпустят. `custom_tariff_locked` — у организации
            индивидуальные («Custom») условия: обычная выписка блокируется на ЧУЖОЙ
            тариф, счёт на переход (`upgrade=true`) — целиком, независимо от целевого
            тарифа. `upgrade_state_requires_review` (только при `upgrade`) — по
            организации уже есть платёж, деньги по которому получены, а доступ не
            выдан: состояние тарифа изменилось между выпиской счёта и его оплатой.
            Ретрай бесполезен — расчёт разбирает менеджер ApiPay; после разбора
            выписка снова доступна.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: invoice_locked
                error_code: invoice_locked
                message: Другая операция выписки счёта в процессе, повторите.
        "400":
          description: >-
            `downgrade_not_supported` (только при `upgrade`) — целевой тариф не выше
            текущего. Понижение оформляется через поддержку.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: downgrade_not_supported
                error_code: downgrade_not_supported
                message: Понижение тарифа не поддерживается.
        "422":
          description: >-
            `invalid_tariff_plan` — неизвестная пара tier_id/period_months;
            `invalid_upgrade_plan` — такой ступени перехода нет в прайсе;
            `upgrade_period_not_supported` — при `upgrade` период обязан быть 1;
            `upgrade_remainder_too_long` (только при `upgrade`) — у организации
            оплачен длинный период, и остаток текущего тарифа не укладывается в
            месяц, который продаёт переход: доплату считает менеджер ApiPay,
            обратитесь в поддержку (конверт `ErrorEnvelope`); либо стандартная
            Laravel-форма при нарушении правил FormRequest (tier_id/period_months/
            buyer_bin/buyer_name/buyer_address/contract/upgrade).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LaravelValidationError"
              example:
                success: false
                error: invalid_tariff_plan
                error_code: invalid_tariff_plan
                message: Некорректный тарифный план.
        "429":
          description: >-
            `invoice_cooldown` — превышен антиабуз-лимит выписок за 24ч.
            Заголовок `Retry-After` + поле `retry_after_seconds`.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Секунд до освобождения слота
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitEnvelope"
              example:
                success: false
                error: invoice_cooldown
                error_code: invoice_cooldown
                message: Слишком много выписанных счетов. Попробуйте позже.
                retry_after_seconds: 3600
        "503":
          description: "Зарезервировано. `invoice_pdf_failed` приходит как `409`."
  /organizations/{organization}/tariff/payments:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    get:
      tags: [Tariff]
      summary: История платежей тарифа
      description: >-
        Платежи тарифа организации (payment_method `self_api` или `invoice`) по
        убыванию даты. Триальные журнальные записи (amount=0) намеренно исключены.
        У платежей `payment_method=invoice` присутствует под-объект `invoice`
        (`number`, `download_url`, `buyer_name`, `upgrade_from`).
      operationId: partnerTariffPaymentsIndex
      responses:
        "200":
          description: История платежей
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/tariff/payments/{paymentId}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - name: paymentId
        in: path
        required: true
        description: ID платежа тарифа
        schema:
          type: integer
    get:
      tags: [Tariff]
      summary: Карточка платежа тарифа
      operationId: partnerTariffPaymentShow
      responses:
        "200":
          description: Один платёж
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  payment:
                    $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          description: >-
            `organization_not_found` (чужая/несуществующая орг) либо
            `tariff_payment_not_found` (платёж не принадлежит организации).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AuthError"
                  - $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: tariff_payment_not_found
                error_code: tariff_payment_not_found
                message: Не найдено.
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/kyc:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    get:
      tags: [KYC]
      summary: Статус анкеты мерчанта
      description: >-
        До одобрения анкеты у мерчанта действует суточный потолок счетов, поэтому статус
        нужен вам для сопровождения клиента. `required_action` — производное поле: не
        зашивайте у себя маппинг наших статусов.
      operationId: getPartnerOrganizationKyc
      responses:
        "200":
          description: Статус анкеты
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  kyc:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [required, submitted, needs_changes, approved, blocked]
                      required_action:
                        type: string
                        enum: [submit_profile, wait_review, fix_and_resubmit, none, contact_support]
                      can_submit:
                        type: boolean
                      comment:
                        type: string
                        nullable: true
                        description: >-
                          Замечание модератора. Приходит только при `needs_changes` —
                          передайте его клиенту дословно.
                      submitted_at:
                        type: string
                        format: date-time
                        nullable: true
                      submitted_via:
                        type: string
                        nullable: true
                        enum: [merchant, invite]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
  /organizations/{organization}/kyc/invite:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    post:
      tags: [KYC]
      summary: Выдать клиенту ссылку на анкету
      description: >-
        Возвращает персональную ссылку на анкету KYC — передайте её мерчанту. Он заполняет и
        подтверждает анкету сам, аккаунт в ApiPay ему для этого не нужен.


        ⛔ Подать анкету за мерчанта нельзя: в ней есть подтверждение о неторговле
        запрещённым — юридическое заверение, которое должен давать тот, у кого факты.


        ⚠️ Ссылка показывается **один раз**: у нас хранится только её хеш. Новая выдача
        отзывает предыдущую.


        ⚠️ Эта дверь работает только с организациями, которые вы завели сами. Организацию,
        где владельцем остаётся мерчант, она не видит — ссылку для неё выдают из кабинета.
      operationId: issuePartnerKycInvite
      responses:
        "201":
          description: Ссылка выдана
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  invite_url:
                    type: string
                    example: https://apipay.kz/invite/2f6c…
                  expires_at:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "404":
          $ref: "#/components/responses/OrganizationNotFound"
        "409":
          description: >-
            Организация тестовая (`test_organization`) либо анкета уже подана/проверена
            (`kyc_already_submitted`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          $ref: "#/components/responses/RateLimited"
  /organizations/{organization}/subscription:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    put:
      tags: [Subscription sync]
      summary: Синхронизировать подписку мерчанта
      description: >-
        Объявляет **текущее состояние** подписки мерчанта в вашем биллинге; мы приводим
        его тариф в соответствие. Форма декларативная — присылайте состояние целиком, а не
        отдельные события: повтор того же запроса безопасен, пропущенная доставка чинится
        следующей, порядок доставки значения не имеет.


        Требует **двух** заголовков помимо ключа: `X-ApiPay-Timestamp` (unix-секунды) и
        `X-ApiPay-Signature` = `sha256=<hmac_sha256("{timestamp}.{МЕТОД}.{путь}.{тело}", secret)>`,
        где `secret` — отдельный секрет приёма, выданный ApiPay (это НЕ секрет ваших исходящих
        вебхуков). Метод и путь входят в подпись: организация задаётся путём, и без них
        перехваченный запрос можно было бы переиграть на другую вашу организацию. Метка
        времени должна быть свежей — расхождение в несколько минут отклоняется. Тело
        подписывается сырым: пересборка JSON ломает подпись.


        ⛔ Тариф двигается **только вперёд и только вверх**: более ранняя дата не укорачивает
        оплаченный срок (ответ `unchanged`), понижение тира отклоняется. Отзыва тарифа через
        этот эндпоинт нет: `suspended`/`cancelled` фиксируются, но срок не трогают —
        выданный период истечёт сам. Поэтому синхронизируйте помесячно.


        ⚠️ Суточный лимит счетов и название тарифа мы берём из ваших договорных условий, а не
        из запроса. Если вы их прислали, они вернутся в блоке `ignored` вместе с тем, что
        реально применено.
      operationId: syncPartnerSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [active, suspended, cancelled]
                  description: Состояние подписки на вашей стороне.
                  example: active
                tier:
                  type: string
                  description: >-
                    Идентификатор тарифа ApiPay. Обязателен при `state: active`.
                  example: business
                paid_through:
                  type: string
                  format: date-time
                  description: >-
                    Дата, до которой подписка оплачена. Обязательна при `state: active`.
                  example: "2026-09-12T18:50:12+05:00"
                cause:
                  type: string
                  description: Повод изменения на вашей стороне (только для журнала).
                  example: autoprolongation
                trial:
                  type: boolean
                  description: >-
                    Признак пробного периода у вас. Информационный: наш собственный
                    пробный период он не расходует.
                  example: false
                external_tariff_id:
                  type: string
                  description: >-
                    Ваш устойчивый идентификатор тарифа. Настоятельно рекомендуется:
                    названия тарифов меняются, идентификаторы — нет.
                partner_context:
                  type: object
                  description: >-
                    Произвольный контекст для журнала. ⛔ Персональных данных здесь быть
                    не должно.
              example:
                state: active
                cause: autoprolongation
                tier: business
                paid_through: "2026-09-12T18:50:12+05:00"
                trial: false
                external_tariff_id: 23ca69d4-2657-40c4-8ba1-6ce24ddeac2e
      responses:
        "200":
          description: >-
            Состояние принято. `result`: `applied` — тариф изменён; `unchanged` — уже
            соответствует (в том числе если ваша дата не дальше текущей); `noted` —
            приостановка/отмена зафиксирована, тариф не тронут.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionSyncResult"
        "401":
          description: >-
            Нет ключа, подпись не сошлась (`invalid_signature`), метка времени устарела
            (`signature_expired`) либо приём не настроен (`inbound_not_configured`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: >-
            Приём выключен (`inbound_sync_disabled`), назначение тарифа недоступно
            (`assignment_not_enabled`), действующего доступа к организации не записано
            (`partner_channel_missing`) либо аккаунт неактивен (`partner_not_active`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Организация не найдена или не ваша (`organization_not_found`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: >-
            Организация тестовая (`test_organization`), удалена (`organization_deleted`),
            оплачивает тариф самостоятельно (`claimed_paying_organization`), имеет
            индивидуальные условия (`custom_tariff_locked`), жёсткое тарифное ограничение
            (`hard_limited_org`), запрошено понижение тира
            (`tier_downgrade_not_allowed`) либо по ней идёт другая тарифная операция
            (`tariff_payment_pending`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "413":
          description: Тело запроса превышает допустимый размер (`payload_too_large`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: >-
            Неизвестное состояние (`unsupported_state`), не хватает `tier`/`paid_through`
            (`subscription_terms_required`), дата в прошлом (`invalid_paid_through`),
            тариф вне вашей сетки (`tier_not_in_partner_grid`) либо срок уходит дальше
            чем на год (`assignment_horizon_exceeded`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: >-
            Частота вызовов превышена либо слишком часто меняется тариф этой организации
            (`tier_switch_rate_limited`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /subscription-syncs:
    get:
      tags: [Subscription sync]
      summary: Журнал синхронизаций подписки
      description: >-
        Что мы приняли и почему отказали — по каждому вашему вызову, включая отказы.
      operationId: listPartnerSubscriptionSyncs
      parameters:
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: organization_id
          in: query
          required: false
          description: >-
            Организация. Чужой или несуществующий id даёт пустую страницу, а не
            отказ — существование чужих записей мы не подтверждаем.
          schema:
            type: integer
        - name: result
          in: query
          required: false
          description: Неизвестное значение — 422, а не пустая страница.
          schema:
            type: string
            enum: [applied, unchanged, noted, rejected, failed]
        - name: state
          in: query
          required: false
          description: Состояние подписки, которое вы присылали в этом вызове.
          schema:
            type: string
            enum: [active, suspended, cancelled]
        - name: from
          in: query
          required: false
          description: >-
            Нижняя граница окна по времени приёма (`received_at`), включительно.
            Голая дата трактуется в Asia/Almaty — в той же зоне, в которой ответ
            рендерит даты.
          schema:
            type: string
            format: date
          example: "2026-08-01"
        - name: to
          in: query
          required: false
          description: >-
            Верхняя граница, включительно. Дата без времени охватывает сутки
            целиком. Должна быть не раньше `from`, иначе 422.
          schema:
            type: string
            format: date
          example: "2026-08-31"
      responses:
        "200":
          description: Страница журнала
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SubscriptionSyncRecord"
                  current_page:
                    type: integer
                  per_page:
                    type: integer
                  total:
                    type: integer
                  last_page:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Неизвестное значение фильтра либо `to` раньше `from`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          $ref: "#/components/responses/RateLimited"
  /subscription-syncs/{sync}:
    parameters:
      - name: sync
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Subscription sync]
      summary: Одна запись журнала синхронизаций
      description: >-
        То же, что в списке, плюс исходное тело запроса (`payload`).
      operationId: getPartnerSubscriptionSync
      responses:
        "200":
          description: Запись журнала
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  sync:
                    $ref: "#/components/schemas/SubscriptionSyncRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Запись не найдена или не ваша (`sync_not_found`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          $ref: "#/components/responses/RateLimited"
  /health:
    get:
      tags: [Health]
      summary: Health аккаунта партнёра
      description: >-
        Агрегат состояния аккаунта партнёра по всем его организациям (без
        внутренних proxy-деталей). Кэшируется ~30с.
      operationId: partnerHealth
      responses:
        "200":
          description: Агрегированный health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerHealth"
              example:
                success: true
                account:
                  mode: production
                  type: operating
                  api_access_status: granted
                  tariff_billing_mode: assignment
                  inbound_sync:
                    enabled: true
                    secret_configured: true
                    secret_hint: "••••a1b2"
                    accepting: true
                api: { status: ok }
                organizations:
                  total: 12
                  kaspi_connected: 9
                  needs_reauth: 1
                  tariff_active: 7
                  tariff_frozen: 1
                  tariff_expired: 2
                  on_trial: 3
                  kyc:
                    required: 2
                    submitted: 1
                    needs_changes: 0
                    approved: 9
                    blocked: 0
                webhooks: { delivered_24h: 340, failed_24h: 5, success_rate: 98.6 }
                rate_limits: { partner_api_per_min: 120 }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenNotOperating"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    PartnerKey:
      type: apiKey
      in: header
      name: X-Partner-Key
      description: >-
        Партнёрский ключ (server-to-server). Выдаётся один раз, хранится sha256.
        Принадлежит интеграции партнёра — продукту, которым он подключается к
        организациям мерчантов; ею и определяется набор прав запроса.
  parameters:
    OrganizationId:
      name: organization
      in: path
      required: true
      description: ID организации мерчанта
      schema:
        type: integer
  schemas:
    Organization:
      type: object
      description: Карточка организации мерчанта (`<card>`).
      properties:
        id:
          type: integer
          example: 50
        name:
          type: string
          example: ТОО Example
        idn:
          type: string
          nullable: true
          description: БИН/ИИН организации
          example: "123456789012"
        status:
          type: string
          enum: [pending, verified, suspended]
          example: pending
        sandbox_mode:
          type: boolean
          description: >-
            Кассир Kaspi ещё не подключён. НЕ синоним `is_test`: у боевой
            организации остаётся `true` до первой успешной авторизации кассира.
          example: false
        is_test:
          type: boolean
          description: >-
            Организация создана, пока ваш аккаунт был в режиме sandbox. Неизменяемо.
            Такие организации живут по мок-контуру и **удаляются** при переводе
            аккаунта в production — боевых данных в них не бывает.
          example: false
        kyc_status:
          type: string
          enum: [required, submitted, needs_changes, approved, blocked]
          description: >-
            Статус анкеты клиента. До одобрения у мерчанта действует суточный
            потолок счетов, поэтому статус виден и в карточке. Комментарий
            модератора сюда не кладётся — он только в `GET .../kyc`.
          example: approved
        has_catalog:
          type: boolean
          example: false
        kaspi_connected:
          type: boolean
          example: true
        session_mode:
          type: string
          nullable: true
          description: Режим Kaspi-сессии (например `self`)
          example: self
        external_id:
          type: string
          nullable: true
          description: Ваш идентификатор клиента в CRM (ключ идемпотентности)
          example: crm-client-42
        origin:
          type: string
          enum: [referral, created, claimed]
          description: Происхождение организации; поле всегда заполнено
          example: created
        payment_status:
          type: string
          enum: [none, active, frozen, expired]
          description: >-
            Read-only, выводится из тарифа. `frozen` — часы тарифа остановлены на время
            приостановки организации; это не истечение.
          example: none
        payment_expires_at:
          type: string
          format: date-time
          nullable: true
          description: Asia/Almaty (+05:00) либо null
        has_active_payment:
          type: boolean
          example: false
        tariff:
          type: object
          description: >-
            Действующие тарифные условия — по чему мерчант работает прямо сейчас.
            Тот же словарь отдают синхронизация подписки (блок `applied`) и
            `GET /tariff-plans`. Сумм здесь нет: цена — в `GET .../tariff`.
          properties:
            tier:
              type: string
              nullable: true
              description: >-
                Базовый идентификатор тарифа либо `null`, если строки тарифа нет.
                Значением `custom` не бывает никогда — договорные условия
                отмечаются флагом `is_custom`.
              example: business
            tier_label:
              type: string
              description: >-
                Отображаемое имя условий. У договорных условий — их собственное
                имя, поэтому равенства с `tier` ждать не нужно.
              example: Бизнес
            daily_limit:
              type: integer
              nullable: true
              description: Суточный потолок счетов по действующим условиям
              example: 100
            is_custom:
              type: boolean
              description: Условия договорные, а не из общей сетки
              example: false
            limits_source:
              type: string
              enum: [config, partner_grid, org_override]
              description: Откуда взялся лимит — общие условия, ваша сетка или льгота клиента
              example: partner_grid
        created_at:
          type: string
          format: date-time
          description: Asia/Almaty (+05:00)
    OrganizationResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        organization:
          $ref: "#/components/schemas/Organization"
    Pagination:
      type: object
      description: Плоская пагинация (без meta).
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 25
        total:
          type: integer
          example: 42
        last_page:
          type: integer
          example: 2
    ProcessStatus:
      type: string
      description: Состояние процесса авторизации кассира (H1).
      enum: [idle, phone_required, otp_required, active, failed]
    Payment:
      type: object
      description: Платёж тарифа мерчанта.
      properties:
        id:
          type: integer
          example: 42
        amount:
          type: integer
          description: Сумма в тенге
          example: 71250
        status:
          type: string
          description: >-
            Статус платежа (например pending / completed / cancelled).
          example: pending
        tier:
          type: string
          example: business
        period_months:
          type: integer
          example: 3
        self_api_invoice_id:
          type: integer
          nullable: true
          description: ID счёта self-API (null в sandbox/мок-пути)
          example: 778899
        external_id:
          type: string
          example: partner-tariff-501-1716900000
        paid_at:
          type: string
          format: date-time
          nullable: true
          description: Asia/Almaty (+05:00) либо null
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        failure_reason:
          type: string
          nullable: true
        fulfillment_status:
          type: string
          nullable: true
          description: >-
[...]
