openapi: 3.0.3
info:
  title: ApiPay.kz API
  version: 1.0.0
  description: |
    API для интернет-эквайринга через Kaspi Pay в Казахстане.
    Автоматизация выставления счетов по номеру телефона, возвраты и рекуррентные платежи.

    ## Quick Start

    1. Get API key from [ApiPay.kz Dashboard](https://baypay.bazarbay.site/login)
    2. Contact support via WhatsApp (+7 708 516 74 89) to connect as "Cashier"
    3. Wait for organization to be connected (usually 5-30 minutes)
    4. Create invoices via `POST /invoices`
    5. Redirect customers to `payment_url`

  contact:
    name: ApiPay.kz Support
    url: https://wa.me/77085167489

servers:
  - url: https://bpapi.bazarbay.site/api
    description: Production API

security:
  - ApiKeyAuth: []

paths:
  /invoices:
    post:
      summary: Create invoice
      description: |
        Creates a payment invoice. Requires verified organization.
        Redirect customer to `payment_url` to complete payment.
      operationId: createInvoice
      tags:
        - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '200':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

    get:
      summary: List invoices
      description: Returns paginated list of invoices
      operationId: listInvoices
      tags:
        - Invoices
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Search in description/order ID
        - name: status[]
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [pending, paid, cancelled, expired]
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /invoices/{id}:
    get:
      summary: Get invoice
      operationId: getInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/cancel:
    post:
      summary: Cancel invoice
      description: Cancels pending invoice. Only invoices with status "pending" can be cancelled.
      operationId: cancelInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Invoice cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Invoice cannot be cancelled (not pending)
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/refund:
    post:
      summary: Create refund
      description: Creates full or partial refund for a paid invoice.
      operationId: createRefund
      tags:
        - Refunds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Invoice ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Partial refund amount. Omit for full refund.
                  minimum: 0.01
                reason:
                  type: string
                  description: Reason for refund
                  maxLength: 500
      responses:
        '200':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Invoice cannot be refunded (not paid)
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/refunds:
    get:
      summary: List invoice refunds
      description: Returns all refunds for a specific invoice.
      operationId: listInvoiceRefunds
      tags:
        - Refunds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Invoice ID
      responses:
        '200':
          description: List of refunds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'

  /refunds:
    get:
      summary: List all refunds
      operationId: listRefunds
      tags:
        - Refunds
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of refunds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /refunds/{id}:
    get:
      summary: Get refund
      operationId: getRefund
      tags:
        - Refunds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '404':
          $ref: '#/components/responses/NotFound'

  /recurring-invoices:
    post:
      summary: Create recurring invoice
      description: Creates a recurring invoice schedule for subscription billing.
      operationId: createRecurringInvoice
      tags:
        - Recurring Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringInvoiceRequest'
      responses:
        '200':
          description: Recurring invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

    get:
      summary: List recurring invoices
      operationId: listRecurringInvoices
      tags:
        - Recurring Invoices
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, cancelled]
      responses:
        '200':
          description: List of recurring invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecurringInvoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /recurring-invoices/{id}:
    get:
      summary: Get recurring invoice
      operationId: getRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recurring invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update recurring invoice
      description: Update amount, description, or interval.
      operationId: updateRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  minimum: 0.01
                  maximum: 99999999.99
                description:
                  type: string
                  maxLength: 500
                interval:
                  type: string
                  enum: [daily, weekly, monthly, yearly]
      responses:
        '200':
          description: Recurring invoice updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'

  /recurring-invoices/{id}/pause:
    post:
      summary: Pause recurring invoice
      description: Temporarily stops billing. Can be resumed later.
      operationId: pauseRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recurring invoice paused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'

  /recurring-invoices/{id}/resume:
    post:
      summary: Resume recurring invoice
      description: Resumes a paused recurring invoice.
      operationId: resumeRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recurring invoice resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'

  /recurring-invoices/{id}/cancel:
    post:
      summary: Cancel recurring invoice
      description: Permanently cancels the recurring invoice. Cannot be resumed.
      operationId: cancelRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recurring invoice cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'

  /recurring-invoices/{id}/bill-now:
    post:
      summary: Bill now
      description: Triggers immediate billing, creating a new invoice.
      operationId: billNowRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /recurring-invoices/{id}/skip-period:
    post:
      summary: Skip period
      description: Skips the next billing period without charging.
      operationId: skipPeriodRecurringInvoice
      tags:
        - Recurring Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Period skipped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringInvoice'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key from ApiPay.kz dashboard

  schemas:
    CreateInvoiceRequest:
      type: object
      required:
        - amount
        - phone_number
      properties:
        amount:
          type: number
          description: Amount in KZT
          minimum: 0.01
          maximum: 99999999.99
          example: 10000
        phone_number:
          type: string
          description: Customer phone (format 8XXXXXXXXXX)
          pattern: '^8[0-9]{10}$'
          example: '87001234567'
        description:
          type: string
          description: Payment description
          maxLength: 500
          example: Payment for order #123
        external_order_id:
          type: string
          description: Your order ID for reference
          maxLength: 255
          example: order_123
        webhook_id:
          type: integer
          description: Specific webhook ID from dashboard

    Invoice:
      type: object
      properties:
        id:
          type: integer
          example: 42
        kaspi_invoice_id:
          type: string
          example: '13234689513'
        kaspi_qr_token:
          type: string
          example: abc123xyz
        payment_url:
          type: string
          format: uri
          example: https://kaspi.kz/pay/...
        amount:
          type: string
          example: '10000.00'
        status:
          type: string
          enum: [pending, paid, cancelled, expired]
          example: pending
        description:
          type: string
          example: Payment for order #123
        external_order_id:
          type: string
          example: order_123
        client_name:
          type: string
          example: John Doe
        client_phone:
          type: string
          example: '87001234567'
        created_at:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
        cancelled_at:
          type: string
          format: date-time
        expired_at:
          type: string
          format: date-time

    CreateRecurringInvoiceRequest:
      type: object
      required:
        - amount
        - phone_number
        - interval
      properties:
        amount:
          type: number
          minimum: 0.01
          maximum: 99999999.99
          example: 5000
        phone_number:
          type: string
          pattern: '^8[0-9]{10}$'
          example: '87001234567'
        description:
          type: string
          maxLength: 500
          example: Monthly subscription
        interval:
          type: string
          enum: [daily, weekly, monthly, yearly]
          example: monthly
        start_date:
          type: string
          format: date
          description: Start date (default today)
        end_date:
          type: string
          format: date
        webhook_id:
          type: integer

    RecurringInvoice:
      type: object
      properties:
        id:
          type: integer
          example: 1
        amount:
          type: string
          example: '5000.00'
        phone_number:
          type: string
          example: '87001234567'
        description:
          type: string
          example: Monthly subscription
        interval:
          type: string
          enum: [daily, weekly, monthly, yearly]
          example: monthly
        status:
          type: string
          enum: [active, paused, cancelled]
          example: active
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        next_billing_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    Refund:
      type: object
      properties:
        id:
          type: integer
          example: 1
        invoice_id:
          type: integer
          example: 42
        amount:
          type: string
          example: '5000.00'
        status:
          type: string
          example: completed
        reason:
          type: string
          example: Customer request
        created_at:
          type: string
          format: date-time

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150

    Error:
      type: object
      properties:
        message:
          type: string
          example: Error description
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Invalid API key

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Validation failed
            errors:
              phone_number:
                - Phone number must be in format 8XXXXXXXXXX

tags:
  - name: Invoices
    description: Payment invoices
  - name: Refunds
    description: Refunds for paid invoices
  - name: Recurring Invoices
    description: Subscription billing
