openapi: "3.0.0"
info:
  title: ApiPay.kz REST API
  version: "2.1.0"
  description: |
    REST API для приёма платежей через Kaspi Pay в Казахстане: счета по номеру телефона
    и по QR. ApiPay — независимый сервис поверх вашего Kaspi Pay: он выставляет счета
    через штатную роль «Кассир», деньги приходят напрямую на ваш Kaspi-счёт. Поддержка
    каталога товаров, подписок, возвратов, мультикассирности и вебхуков. При регистрации
    создаётся sandbox-организация для тестирования без реального Kaspi.

    ## Аутентификация

    Заголовок `X-API-Key: {ключ}` на всех эндпоинтах, кроме `GET /status`. Организация
    резолвится строго из ключа — интегратор видит только свою организацию. Ключ выдаётся
    в личном кабинете ApiPay.kz.

    ## Rate limiting

    Общий лимит — **200 запросов/мин на ключ**. Отдельные эндпоинты
    имеют собственные лимиты (указаны в описании операции):
    - `GET /invoices/{id}` — 1000/мин (поллинг статуса без вебхуков);
    - `POST /invoices/bulk` — 20/мин;
    - `POST /invoices/qr` — 60/мин на организацию;
    - `POST /catalog/scan` — 30/мин + 2000/сутки;
    - `POST /clients/check` — 60/мин + 10 000/сутки на ключ, 200/мин + 20 000/сутки на
      организацию, 10/мин на одного кассира;
    - авторизация кассира: `auth/init` и `auth/send-phone` — 5/мин, `auth/verify-otp` —
      10/мин (на пару ключ+кассир).

    Превышение → `429` с заголовком `Retry-After` (для cap-лимитов также поле
    `retry_after_seconds` в теле).

    ## Конверт ошибок

    - **Валидация:** `422 {"message":"Validation failed","errors":{"<поле>":["..."]}}`.
    - **Бизнес-логика:** `{"error":"<slug>","error_code":"<slug>","message":"<текст>"}` —
      `error_code` это стабильный snake_case-идентификатор причины (каталог — схема
      `ErrorCode`); `error` дублирует его для обратной совместимости. Стройте
      `switch`-логику по `error_code`, а не по русскому тексту `message`.

    ## Форматы дат

    ISO 8601. Ресурсы **Invoice / Refund / Subscription / CatalogItem / Connection** и все
    вебхуки — UTC, offset `+00:00` (например `2026-01-10T12:00:00+00:00`). Эндпоинты
    **`GET /tariff`** и **`GET /account/health`** отдают Asia/Almaty, offset `+05:00`
    (историческая несогласованность, не путать).

    Окна фильтров (`date_from`/`date_to`, `start_date`/`end_date`, `from`/`to`) задаются
    в зоне мерчанта **Asia/Almaty**: голая дата — это его календарные сутки целиком.
    Явный офсет в значении уважается как указан; в query-строке `+` кодируется как `%2B`.

    ## Телефон

    Плательщик — формат `8XXXXXXXXXX` (11 цифр, начинается с `8`), регэксп `^8\d{10}$`.
    Телефон кассира при авторизации (`auth/send-phone`) — формат `7XXXXXXXXXX`
    (регэксп `^7\d{10}$`). Lookup (`POST /clients/check`) принимает разные формы и
    нормализует к `8XXXXXXXXXX`.

    ## Пагинация

    Формы различаются по эндпоинту:
    - **Плоская** `{current_page, data, total}` — `GET /invoices`, `GET /refunds`.
    - **Meta-обёртка** `{data, links, meta}` — `GET /subscriptions` и `GET /catalog`
      (offset и keyset). В targeted-режиме каталога
      (`ntins[]`/`barcodes[]`/`ids[]`/`external_refs[]`) — `{data:[...]}` без `links`/`meta`.
    - **Особые формы:** `GET /invoices/{id}/refunds` — `{invoice, refunds, total}`;
      `GET /subscriptions/{id}/invoices` — `{data, meta}` без `last_page`.

    ## Вебхуки

    Исходящие POST-уведомления на `webhook_url` API-ключа. Подпись
    `X-Webhook-Signature: sha256=<hmac_sha256(raw_body, webhook_secret)>` (если задан
    секрет). Все таймстампы — UTC `+00:00`. События и payload'ы — в секции `x-webhooks`.
    Отвечайте `200 OK` быстро (до 5 с), обработку выполняйте асинхронно, дедуплицируйте
    события.

    ## Sandbox

    При `sandbox_mode=true` организация не ходит в Kaspi. Доступны симуляции жизненного
    цикла (тег `Sandbox`). В вебхуках sandbox-события помечены `is_sandbox: true`.
  contact:
    name: ApiPay.kz Support
    url: https://wa.me/77003076512
servers:
  - url: https://api.apipay.kz/api/v1
    description: Production API
security:
  - ApiKeyAuth: []
tags:
  - name: System
    description: Служебные эндпоинты (health-check без авторизации).
  - name: Invoices
    description: Счета на оплату — создание (по номеру / QR / пакетно), просмотр, отмена, статистика.
  - name: Refunds
    description: Возвраты по счетам.
  - name: QR Refunds
    description: Возврат со сканированием QR клиентом — клиент подтверждает личность, мерчант выбирает операцию и возвращает.
  - name: Static QR
    description: Статические печатные QR, привязанные к сделке (мост qr.apipay.kz)
  - name: Receipts
    description: Фискальные чеки в Kaspi OFD для оплат наличными / через POS другого банка (не прошедших через Kaspi QR).
  - name: Tariff & Account
    description: Информация мерчанта о себе — тарифный каталог, статус подписки на ApiPay, health аккаунта.
  - name: Connections
    description: Управление кассирами собственной организации из CRM — CRUD и OTP-переавторизация. Требует per-key флаг can_manage_cashiers.
  - name: Catalog
    description: Каталог товаров — единицы измерения, листинг/экспорт, создание, Нацкаталог-скан.
  - name: Clients
    description: Публичная проверка номера в Kaspi.
  - name: Subscriptions
    description: Рекуррентные подписки с автоматическим перевыставлением счетов.
  - name: Sandbox
    description: Симуляция жизненного цикла счетов и подписок (только при sandbox_mode=true).
  - name: Webhooks
    description: Исходящие вебхук-события (секция x-webhooks) + read-only логи их доставки (/webhook-logs). HMAC-подпись по сырому телу, таймстампы UTC +00:00.
paths:
  "/status":
    get:
      tags: [System]
      summary: Health-check
      description: |
        Проверка доступности API. **Без авторизации** (`X-API-Key` не требуется).
        Подпадает под общий гостевой лимит `60 запросов/мин на IP`.
      operationId: getStatus
      security: []
      responses:
        '200':
          description: Сервис доступен
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    description: Текущее время сервера, ISO 8601 UTC (+00:00).
                    example: "2026-07-05T14:30:00+00:00"
  "/invoices":
    get:
      tags: [Invoices]
      summary: Список счетов
      description: |
        Пагинированный список счетов организации с фильтрацией и сортировкой.
        Пагинация — **плоская** `{current_page, data, total}` (не meta-обёртка).
        Даты счетов в ОТВЕТЕ — UTC `+00:00` (как у всех ресурсов, см. «Форматы дат»).
        В зоне мерчанта (`+05:00`) отдаётся только `summary.period`.

        **Окно `date_from`/`date_to` задаётся в зоне мерчанта (Asia/Almaty)**, а не в UTC:

        - голая дата `2026-08-01` — это КАЛЕНДАРНЫЕ СУТКИ мерчанта целиком
          (`date_to` растягивается до `23:59:59`);
        - дата со временем `2026-08-01 11:00` — точная минута; так задаётся смена,
          переходящая через полночь (`date_from=2026-08-03 11:00&date_to=2026-08-04 03:00`);
        - явный офсет (`2026-08-01T11:00:00+03:00`, `...Z`) уважается как указано.
          В query-строке `+` нужно кодировать как `%2B`.

        Обе границы включительные.
      operationId: listInvoices
      parameters:
        - name: search
          in: query
          description: Поиск по описанию, телефону, external_order_id.
          schema:
            type: string
            maxLength: 100
        - name: "status[]"
          in: query
          description: |
            Фильтр по статусам (можно несколько значений).
            `partially_refunded` — счёт, по которому уже был частичный возврат: деньги он
            принял, поэтому фильтр «покажи оплаченные» без него неполон.
            ⚠️ В `summary.sales` такой счёт учитывается по ПОЛНОЙ сумме счёта, а возвращённая
            часть вычитается отдельной строкой `summary.refunds`: выручка за окно — это
            `net_amount`, а не сумма `paid` + `partially_refunded`.
          schema:
            type: array
            items:
              type: string
              enum: [processing, pending, cancelling, paid, cancelled, expired, partially_refunded]
        - name: date_from
          in: query
          description: Начало окна включительно — `Y-m-d` или `Y-m-d H:i[:ss]` (зона Almaty).
          example: "2026-08-03 11:00"
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}([ T]\d{2}:\d{2}(:\d{2})?(Z|[+-]\d{2}:?\d{2})?)?$'
        - name: date_to
          in: query
          description: Конец окна включительно, тот же формат. Должен быть >= date_from.
          example: "2026-08-04 03:00"
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}([ T]\d{2}:\d{2}(:\d{2})?(Z|[+-]\d{2}:?\d{2})?)?$'
        - name: date_field
          in: query
          description: |
            По какому времени резать окно.
            `created_at` — момент выставления счёта (по умолчанию).
            `paid_at` — момент оплаты; так операции раскладывает по сменам терминал, поэтому
            для сверки кассы используйте его. Неоплаченные счета при этом отсеиваются.
          schema:
            type: string
            enum: [created_at, paid_at]
            default: created_at
        - name: with_summary
          in: query
          description: |
            Добавить в ответ объект `summary` — итоги по всей выборке (не по странице):
            продажи, возвраты, выручка. По умолчанию выключено: сводка считается по всей
            выборке и тяжелее обычного листинга — включайте её там, где нужны итоги
            (закрытие смены, сверка кассы).
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Поле сортировки (невалидное значение → created_at).
          schema:
            type: string
            enum: [id, amount, client_name, status, created_at, paid_at]
            default: created_at
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Список счетов
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvoiceListItem'
                  total:
                    type: integer
                    description: Всего счетов под фильтром (для пагинации).
                    example: 48
                  summary:
                    allOf:
                      - $ref: '#/components/schemas/InvoiceListSummary'
                    description: Только при `with_summary=1`.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Invoices]
      summary: Создать счёт
      description: |
        Создаёт счёт на оплату по номеру телефона. Обработка **асинхронная**: ответ `201`
        приходит со `status: "processing"` (Kaspi ещё не вызван), финальный статус
        (`pending`/`error`) — вебхуком `invoice.status_changed` или поллингом
        `GET /invoices/{id}`. Не пересоздавайте счёт, пока он в `processing`.

        Два режима суммы: без корзины (`amount`) или с корзиной (`cart_items`, сумма
        считается сервером). Организация с каталогом может выставить счёт и одной суммой,
        без `cart_items`. Обратное неверно: организация без каталога с `cart_items`
        получит `422 This organization does not support catalog.`
        Для `POST /invoices/qr` и `POST /static-qr` правило другое — там у организации
        с каталогом корзина обязательна.
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: Счёт создан (status=processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreated'
        '400':
          description: Организация не найдена/не верифицирована, лимит sandbox или сессия Kaspi не настроена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                organization_required:
                  value: {error: "Organization not found or not verified", message: "Please verify an organization before creating invoices."}
                kaspi_session_not_configured:
                  value: {error: "kaspi_session_not_configured", message: "Kaspi session is not configured. Please contact support."}
                sandbox_invoice_limit:
                  value: {error: "sandbox_invoice_limit", message: "Maximum sandbox invoices limit reached (1000)."}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            `duplicate_idempotency_key` — дубль ключа идемпотентности (external_order_id_idempotency
            уже использован); `kaspi_session_expired` — сессия кассира Kaspi мертва, счёт не создан
            (нужна переавторизация кассира, ретрай не поможет).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DuplicateIdempotencyResponse'
                  - $ref: '#/components/schemas/SessionExpiredResponse'
        '422':
          description: |
            Ошибка валидации. Особые случаи: `connection_ambiguous` (>1 активной connection
            без primary, укажите `kaspi_connection_id`); ошибки скидки/каталога;
            `content_rejected` (контент-скрин, только в режиме block).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorBody'
        '403':
          description: |
            `kyc_rejected` — мерчант отклонён на KYC-модерации; `tariff_inactive` — подписка на
            ApiPay не активна (продлите тариф в кабинете). Грейс-периода у тарифа нет —
            блокировка наступает сразу после `expires_at`, который приходит в теле ответа.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TariffInactiveResponse'
                  - type: object
                    properties:
                      error: {type: string, example: kyc_rejected}
                      error_code: {$ref: '#/components/schemas/ErrorCode'}
                      message: {type: string, example: "Выставление счетов ограничено. Обратитесь в поддержку."}
        '429':
          $ref: '#/components/responses/RateLimitCap'
        '503':
          $ref: '#/components/responses/InvoiceCreationUnavailable'
  "/invoices/bulk":
    post:
      tags: [Invoices]
      summary: Пакетное создание счетов
      description: |
        Создаёт до 100 счетов одним запросом на **одного кассира** (`kaspi_connection_id`
        общий на всю пачку; по умолчанию — primary). Доп. лимит **20/мин**.
        Структурная ошибка тела (невалидная схема) → `422`
        отклоняет весь батч атомарно; бизнес-ошибки отдельных позиций возвращаются
        поэлементно в `invoices[]` (created/duplicate/failed), сам батч при этом `201`.

        ⚠️ **Неактивный тариф — исключение из поэлементной модели:** `tariff_inactive`
        отбивает **весь запрос** `403`, а не приходит в `failed[]`. Причина не в конкретной
        позиции, а в самой организации, поэтому запрос закрывается на входе.
      operationId: createInvoicesBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoices]
              properties:
                kaspi_connection_id:
                  type: integer
                  nullable: true
                  description: Кассир на всю пачку (default — primary).
                invoices:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Список счетов (1–100).
                  items:
                    $ref: '#/components/schemas/BulkInvoiceItem'
      responses:
        '201':
          description: Батч обработан (см. поэлементные результаты)
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                    example: 8
                  duplicates:
                    type: integer
                    example: 1
                  failed:
                    type: integer
                    example: 1
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkInvoiceResult'
        '400':
          description: organization_required / sandbox_invoice_limit / not-verified / kaspi_session_not_configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TariffInactive'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitCap'
        '503':
          $ref: '#/components/responses/InvoiceCreationUnavailable'
  "/invoices/qr":
    post:
      tags: [Invoices]
      summary: Создать QR-счёт
      description: |
        Создаёт счёт для оплаты по QR-коду на экране кассы — без номера телефона.
        **Синхронный**: ответ `201` сразу со `status: "pending"` и QR-полями
        (pending-вебхука для QR нет). Покупатель сканирует QR приложением Kaspi.

        Жизненный цикл QR — **минуты**, не 24ч; момент истечения диктует Kaspi
        (`qr_expires_at` справочно), терминальный статус (`paid`/`cancelled`/`expired`)
        приходит вебхуком. QR-счета **сосуществуют**: создание нового QR на той же кассе
        НЕ отменяет прежние — старый остаётся `pending` и мониторится до своего терминала.
        Реагируйте по каждому `invoice.id` отдельно. `cancelled` по QR = реальная отмена
        клиентом. Когда клиент отсканировал QR — приходит событие `invoice.qr_scanned`
        (`qr_substate: "scanned"`, `status` остаётся `pending`). Отмена QR-счёта не
        поддерживается; возврат — через отдельную ветку `POST /qr-refunds` (клиент
        сканирует возвратный QR).
      operationId: createQrInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQrInvoiceRequest'
      responses:
        '201':
          description: QR-счёт создан (status=pending)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrInvoiceCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            `duplicate_idempotency_key` (дубль ключа); `kaspi_session_expired` (сессия кассира
            мертва — QR не создан, нужна переавторизация).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DuplicateIdempotencyResponse'
                  - $ref: '#/components/schemas/SessionExpiredResponse'
        '403':
          description: |
            `kyc_rejected` — мерчант отклонён на KYC-модерации; `tariff_inactive` — подписка на
            ApiPay не активна (продлите тариф в кабинете). Грейс-периода у тарифа нет —
            блокировка наступает сразу после `expires_at`, который приходит в теле ответа.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TariffInactiveResponse'
                  - type: object
                    properties:
                      error: {type: string, example: kyc_rejected}
                      error_code: {$ref: '#/components/schemas/ErrorCode'}
                      message: {type: string, example: "Выставление счетов ограничено. Обратитесь в поддержку."}
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          description: |
            `qr_rate_limit` (60/мин на организацию) либо cap-лимит (`trial_daily_limit`/
            `tariff_limit_reached`/`outstanding_*`/`kyc_daily_limit_reached`) с
            `retry_after_seconds` и заголовком `Retry-After`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: qr_render_failed — не удалось отрендерить PNG QR (также шлётся вебхук error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: kaspi_error — ошибка Kaspi при создании QR (также шлётся вебхук error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/InvoiceCreationUnavailable'
  "/invoices/stats":
    get:
      tags: [Invoices]
      summary: Статистика счетов
      description: |
        Агрегированная статистика счетов за период. Укажите **либо** `period`, **либо**
        пару `start_date`+`end_date` (иначе `422`). `pending_*` включает счета в статусе
        `processing`. Поля `total_collected` **нет** — сумма оплаченного это `paid_amount`.

        Границы задаются в зоне мерчанта (Asia/Almaty): голая дата = календарные сутки
        целиком, `Y-m-d H:i` = точная минута. Окно режется по `created_at`.
        Явный офсет уважается как указан; в query-строке `+` кодируется как `%2B`.

        ⚠️ `paid_amount`, `paid_invoices` и `conversion_rate` здесь считают только статус
        `paid` и **не включают** `partially_refunded` — у мерчанта с частичными возвратами
        конверсия визуально занижена. Для сверки кассы используйте `summary` из
        [listInvoices](#operation/listInvoices) — там раскладка кассового отчёта.
      operationId: getInvoiceStats
      parameters:
        - name: period
          in: query
          description: Предустановленный период (взаимоисключимо с start_date/end_date).
          schema:
            type: string
            enum: [today, week, month, year]
        - name: start_date
          in: query
          description: Начало периода — `Y-m-d` или `Y-m-d H:i[:ss]` (зона Almaty). Требует end_date.
          example: "2026-08-03 11:00"
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}([ T]\d{2}:\d{2}(:\d{2})?(Z|[+-]\d{2}:?\d{2})?)?$'
        - name: end_date
          in: query
          description: Конец периода включительно, тот же формат. Должен быть >= start_date.
          example: "2026-08-04 03:00"
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}([ T]\d{2}:\d{2}(:\d{2})?(Z|[+-]\d{2}:?\d{2})?)?$'
      responses:
        '200':
          description: Статистика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Не указан ни period, ни пара дат (или невалидный диапазон)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorBody'
  "/invoices/{id}":
    get:
      tags: [Invoices]
      summary: Получить счёт
      description: |
        Полный объект счёта с позициями. Доп. лимит **1000/мин**
        вместо общего 200/мин — под поллинг 1С без вебхуков.
        Читает из БД/кэша, не бьёт в Kaspi (терминальные статусы кэшируются 24ч).
        Статуса `refunded` не существует — полный возврат оставляет `paid` +
        `is_fully_refunded=true`.
      operationId: getInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные счёта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Счёт не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invoice not found
    patch:
      tags: [Invoices]
      summary: Изменить внутреннюю заметку счёта
      description: |
        Правит **только** `internal_comment` — внутреннюю заметку мерчанта («кто это /
        что это»). Заметка в Kaspi не передаётся, плательщик её не видит, в чек она не
        попадает; на сумму, статус и возвраты не влияет. Другие поля счёта этим методом
        не редактируются.

        Доступно в **любом** статусе, включая `paid` и `expired`: закрытый счёт всё ещё
        можно разметить — в том числе счета, приехавшие синком из истории Kaspi.

        `null` или пустая строка стирают заметку. Тело **без ключа** `internal_comment` →
        `422` (молчаливого «ничего не изменил» нет). Вебхук эта операция не порождает —
        новое значение уедет со следующим штатным событием по счёту.
      operationId: updateInvoiceInternalComment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceInternalCommentRequest'
      responses:
        '200':
          description: Заметка сохранена; в теле — счёт целиком (та же форма, что GET /invoices/{id})
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TariffInactive'
        '404':
          description: Счёт не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invoice not found
        '422':
          $ref: '#/components/responses/ValidationError'
  "/invoices/{id}/cancel":
    post:
      tags: [Invoices]
      summary: Отменить счёт
      description: |
        Отменяет счёт в статусе `pending` или `processing`. Sandbox / счёт без
        `kaspi_invoice_id` → `200` (синхронно) + вебхук `cancelled`. Production → `202`,
        статус `cancelling` — **не считайте счёт отменённым сразу**. Итог придёт вебхуком
        (`cancelled` — отмена прошла, либо `error` с `invoice_already_paid`/
        `invoice_already_cancelled`/`invoice_not_found_in_kaspi`). Если Kaspi отказал
        (обычно счёт уже оплачен) — счёт тихо вернётся в `pending`, реальный статус
        (обычно `paid`) доставит sync.
      operationId: cancelInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Счёт отменён синхронно (sandbox / без kaspi_invoice_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invoice cancelled
                  invoice:
                    $ref: '#/components/schemas/Invoice'
        '202':
          description: Отмена поставлена в очередь (production)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invoice cancellation queued
                  invoice_id:
                    type: integer
                    example: 42
        '400':
          description: Счёт нельзя отменить (не в статусе pending/processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TariffInactive'
        '404':
          description: Счёт не найден
  "/invoices/{id}/refund":
    post:
      tags: [Invoices]
      summary: Создать возврат
      description: |
        Полный или частичный возврат по оплаченному счёту. Без `amount` — полный возврат.
        Ответ `201` = возврат принят и поставлен в очередь (`status: pending`). Итог —
        вебхук `invoice.refunded` (`completed`/`failed`, причина в `refund.error_code`).
        Для счетов с корзиной можно указать `return_items` — на позицию **ровно одно** из
        полей `count` (целые штуки) ИЛИ `amount` (произвольная сумма); оба или ни одного → `422`.
      operationId: createRefund
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '201':
          description: Возврат создан и поставлен в очередь
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Refund queued for processing
                  refund:
                    $ref: '#/components/schemas/RefundShort'
                  invoice:
                    type: object
                    properties:
                      id: {type: integer, example: 42}
                      amount: {type: string, example: "15000.00"}
                      total_refunded: {type: string, example: "5000.00"}
                      available_for_refund:
                        type: number
                        description: Сумма, доступная для возврата (число, не строка).
                        example: 10000
                      pending_refund_amount:
                        type: number
                        description: Сумма ожидающих возвратов (число, не строка).
                        example: 0
        '400':
          description: Нельзя сделать возврат (счёт не оплачен / полностью возвращён / превышает доступное)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TariffInactive'
        '404':
          description: Счёт не найден
        '422':
          description: refund_window_expired / контент-скрин / ошибки return_items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorBody'
  "/invoices/{id}/refunds":
    get:
      tags: [Invoices]
      summary: Возвраты по счёту
      description: Список возвратов конкретного счёта с агрегатами по счёту. Даты — UTC +00:00.
      operationId: listInvoiceRefunds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Возвраты счёта
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    type: object
                    properties:
                      id: {type: integer, example: 42}
                      amount: {type: string, example: "15000.00"}
                      total_refunded: {type: string, example: "5000.00"}
                      available_for_refund: {type: number, example: 10000}
                      is_fully_refunded: {type: boolean, example: false}
                  refunds:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'
                  total:
                    type: integer
                    example: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Счёт не найден
  "/invoices/status/check":
    post:
      tags: [Invoices]
      summary: Массовая проверка статусов
      description: |
        Возвращает актуальные статусы нескольких счетов организации за один запрос.
        `invoice_ids.*` не проверяется на существование (анти-энумерация) — несуществующие
        и чужие ID молча не попадут в ответ. Скоуп — организация ключа.
      operationId: bulkCheckInvoiceStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoice_ids]
              properties:
                invoice_ids:
                  type: array
                  description: ID счетов для проверки. Отправляйте не более 100 ID за запрос, крупные списки разбивайте на части.
                  items:
                    type: integer
                  example: [42, 43, 44]
      responses:
        '200':
          description: Актуальные статусы
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: integer, example: 42}
                        status: {type: string, example: paid}
                        kaspi_invoice_id: {type: string, nullable: true, example: "13234689513"}
                        amount: {type: string, example: "5000.00"}
                        error_message: {type: string, nullable: true}
                        updated_at: {type: string, format: date-time, example: "2026-01-10T12:00:00+00:00"}
        '400':
          description: Организация не верифицирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/invoices/{invoice}/simulate-status":
    post:
      tags: [Sandbox]
      summary: Симулировать статус счёта
      description: |
        **Только sandbox** (`is_sandbox=true` у счёта; в рабочем режиме недоступно
        ни при каких условиях). Переводит sandbox-счёт из `pending` в
        `paid`/`cancelled`/`expired`/`error` и шлёт вебхук `invoice.status_changed`,
        либо симулирует транзиентное событие `qr_scanned` (только для QR-счетов:
        статус остаётся `pending`, уходит вебхук `invoice.qr_scanned` с
        `qr_substate: "scanned"`, повтор → `400 already_scanned`).

        При `status=error` счёт получает `error_code: sandbox_simulated_error` и
        `error_message` (свой текст — через одноимённый параметр). Опционально можно
        задать `kaspi_source_type`/`kaspi_sale_type` (иначе выбираются случайно при `paid`).

        Rate-limit: 60/мин на ключ (отдельный бакет, не расходует общий лимит 200/мин).
      operationId: simulateInvoiceStatus
      parameters:
        - name: invoice
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [paid, cancelled, expired, error, qr_scanned]
                kaspi_source_type:
                  type: string
                  nullable: true
                  enum: [GOLD, RED, LOAN, BUSINESSACCOUNT, BANKINTEGRATIONACCOUNT]
                kaspi_sale_type:
                  type: string
                  nullable: true
                  enum: [Remote, QR, Static, Restaurant]
                error_message:
                  type: string
                  nullable: true
                  maxLength: 255
                  description: Кастомный текст ошибки (только при `status=error`; по умолчанию «Симулированная ошибка (sandbox).»).
      responses:
        '200':
          description: Статус симулирован (для `qr_scanned` статус счёта остаётся `pending`)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: {type: string, example: Invoice status simulated}
                  invoice: {$ref: '#/components/schemas/Invoice'}
        '400':
          description: |
            invalid_status_transition (счёт не в pending), not_qr_invoice
            (`qr_scanned` для не-QR счёта), already_scanned (повторный `qr_scanned`)
            или organization_required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: {type: string, example: invalid_status_transition}
                  message: {type: string}
                  current_status: {type: string, example: paid}
                  allowed_from: {type: array, items: {type: string}, example: [pending]}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: not_sandbox — симуляция доступна только для sandbox-счетов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Счёт не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  "/static-qr":
    post:
      tags: [Static QR]
      summary: Создать печатный QR под сделку (отложенный счёт)
      description: |
        Создаёт печатный лист, привязанный к сделке. Kaspi **не вызывается** — счёт
        материализуется при скане на `qr.apipay.kz/{token}` в контексте вашей организации
        (деньги и вебхук приходят вам штатно). Тело — как у счёта: `amount` **либо**
        `cart_items`. Ответ несёт `token` (кодируется в QR), `short_code` (печатается рядом
        для ручного ввода), `print_url`, `qr_image_url` (готовый PNG).
        Модель: **одна сделка** (`single_use=true`) — после оплаты повторный скан показывает
        «Оплачено»; повторные сканы до оплаты переиспользуют живой Kaspi-QR (не плодят счета).

        **Несовместимость ловится здесь, а не при скане.** Лист печатают один раз, а
        материализуется он спустя дни, поэтому всё, что сделало бы скан покупателя нерабочим
        (нет `cart_items` у мерчанта с каталогом, чужая/удалённая позиция каталога, чужой или
        неактивный `kaspi_connection_id`, неоднозначный кассир, непроверенная организация,
        забракованное `description`), отбивается **на генерации** — см. `400`/`422`.

        В **sandbox** не проверяется только верификация организации (её счета в Kaspi не
        уходят) — проверки кассира и корзины действуют и в песочнице, в отличие от
        `POST /invoices/qr`, который в sandbox кассира не резолвит вовсе. Это сделано
        намеренно: лист с чужим или неоднозначным адресатом сломался бы при скане, и
        песочница нужна ровно для того, чтобы увидеть это до печати.
      operationId: createStaticQr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticQrRequest'
      responses:
        '201':
          description: Лист создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticQrCreated'
        '400':
          description: |
            `Organization not found or not verified` — боевая (не sandbox) организация ещё не
            верифицирована, счёт по такому листу создать было бы нельзя. Форма ответа — как у
            `POST /invoices/qr`. ⚠️ В этом теле `error` несёт **человеческую фразу, а не slug**,
            и `error_code` отсутствует — не разбирайте `error` машинно (см. пример).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Organization not found or not verified
                message: Please verify an organization before creating invoices.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: '`static_qr_disabled` — фича выключена; `tariff_inactive` — подписка на ApiPay не активна.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: |
            Ошибки формы тела (`{message: "Validation failed", errors: {…}}`) плюс проверки
            «этот лист сможет материализоваться», выполняемые до печати:

            * мерчант **с** каталогом без `cart_items` либо **без** каталога с `cart_items` —
              тело несёт только `message` (`This organization requires cart items…` /
              `This organization does not support catalog…`), как на `POST /invoices/qr`;
            * `cart_items.*.catalog_item_id` не принадлежит вашей организации, удалён или без
              цены — `errors["cart_items.0.catalog_item_id"]` с тем же текстом, что вернуло бы
              создание счёта (`Catalog item does not belong to your organization.` /
              `… has been deleted.` / `… has no price set.`);
            * `kaspi_connection_id` чужой или неактивный — `errors.kaspi_connection_id`
              (`422`, а не `404`: код ответа не раскрывает существование чужого кассира);
            * `connection_ambiguous` — у организации больше одного активного кассира и нет
              primary; передайте `kaspi_connection_id` явно;
            * `description` забракован контент-скринингом (он становится именем позиции в
              чеке Kaspi) — `errors.description` + `error_code`.

            ⚠️ **Несуществующий** `catalog_item_id` / `kaspi_connection_id` отдаёт **ровно то
            же тело**, что чужой: ответ намеренно не различает «нет такого id» и «id чужой»,
            иначе по нему перебирались бы чужие сущности.

            Новых `error_code` ветка не вводит.
          content:
            application/json:
              # anyOf, а НЕ oneOf: обе схемы открыты (нет required, additionalProperties не
              # закрыт), поэтому реальные тела ({message} и {message, errors, error_code})
              # валидны против ОБЕИХ ветвей — при oneOf строгий валидатор отверг бы
              # корректный ответ как «подошёл более чем одному варианту».
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ValidationErrorBody'
                  - $ref: '#/components/schemas/ErrorResponse'
              examples:
                form:
                  summary: Ошибка формы тела / скоупа корзины или кассира
                  value:
                    message: Validation failed
                    errors:
                      cart_items.0.catalog_item_id: [Catalog item does not belong to your organization.]
                cart_parity:
                  summary: Паритет has_catalog ↔ cart_items (только message)
                  value:
                    message: This organization requires cart items. Include cart_items in request.
                connection_ambiguous:
                  summary: Больше одного активного кассира без primary
                  value:
                    error: connection_ambiguous
                    message: Organization has multiple active connections. Please specify kaspi_connection_id.
    get:
      tags: [Static QR]
      summary: Список печатных QR организации
      description: Печатные листы вашей организации (новые сверху). Плоская пагинация `page`/`per_page` (≤100).
      operationId: listStaticQr
      parameters:
        - name: per_page
          in: query
          schema: {type: integer, minimum: 1, maximum: 100, default: 25}
        - name: page
          in: query
          schema: {type: integer, minimum: 1, default: 1}
      responses:
        '200':
          description: Список
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/StaticQrCreated'}
                  current_page: {type: integer, example: 1}
                  last_page: {type: integer, example: 1}
                  per_page: {type: integer, example: 25}
                  total: {type: integer, example: 3}
        '401':
          $ref: '#/components/responses/Unauthorized'
  "/static-qr/{id}":
    get:
      tags: [Static QR]
      summary: Получить печатный QR под сделку
      description: Карточка листа. Чужой id → `404` (non-enumeration).
      operationId: getStaticQr
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer}
      responses:
        '200':
          description: Карточка листа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticQrCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Лист не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Static QR]
      summary: Отключить печатный QR под сделку
      description: |
        Помечает лист `disabled` — последующие сканы показывают «неактивно», новые счета не
        создаются. Уже созданные счета не трогаются. Чужой id → `404`.
      operationId: disableStaticQr
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer}
      responses:
        '200':
          description: "Лист отключён (возвращается карточка со status=disabled)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticQrCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Лист не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  "/receipts/preview":
    post:
      tags: [Receipts]
      summary: Превью фискального чека
      description: |
        Синхронное превью чека (pre-details) перед выбиванием — для UI. Возвращает
        список строк `{Title, Subtitle, isBoldText}` (сумма, способ оплаты).

        Для оплат, НЕ прошедших через Kaspi QR: `payment_type=3` (наличные),
        `payment_type=5` (POS другого банка). `403 fiscal_receipts_disabled` — только
        когда приостановлена запись через целевого кассира.
        Sandbox отдаёт детерминированное превью без Kaspi.
      operationId: previewReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_type, total_price]
              properties:
                payment_type: {type: integer, enum: [3, 5], description: "3 — наличные, 5 — POS другого банка."}
                total_price: {type: number, description: "Сумма чека.", example: 10}
                kaspi_connection_id: {type: integer, nullable: true, description: "Конкретный кассир; по умолчанию — primary/единственный активный."}
      responses:
        '200':
          description: Превью
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        Title: {type: string, example: "Способ оплаты"}
                        Subtitle: {type: string, example: "Наличные"}
                        isBoldText: {type: boolean, example: false}
        '400':
          description: Не определена организация (organization_required)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            `fiscal_receipts_disabled` — приостановлена запись через целевого кассира;
            `tariff_inactive` — подписка на ApiPay не активна (грейса нет, блок сразу
            после `expires_at`; тело несёт `expires_at`).
        '409':
          description: Нет активного кассира (kaspi_session_not_configured)
        '422':
          description: Неоднозначность кассира (connection_ambiguous) или невалидный payment_type/total_price
        '503':
          description: Kaspi недоступен (receipt_preview_unavailable)
  "/receipts":
    post:
      tags: [Receipts]
      summary: Выбить фискальный чек
      description: |
        Асинхронно выбивает фискальный чек в Kaspi OFD для оплаты наличными
        (`payment_type=3`) или через POS другого банка (`payment_type=5`). Позиции —
        из синхронизированного каталога по `catalog_item_id` (как `/invoices` with-cart);
        только фискально зарегистрированные (иначе `item_not_fiscal`).

        Создаёт чек в статусе `pending` и ставит задачу выбивания. Клиент узнаёт итог
        через `GET /receipts/{id}` или вебхук `receipt.issued`/`receipt.failed`.

        **Идемпотентность:** `client_operation_id` уникален на организацию — повтор с тем
        же ключом не выбивает второй чек (`409 duplicate_client_operation_id`); повтор
        после `failed` разрешён. `403 fiscal_receipts_disabled` — только когда
        приостановлена запись через целевого кассира чека.

        **Песочница.** Чек зеркалит бой: позиция с `barcode`+`ntin` даёт `issued` с
        реальными суммами, позиция без `ntin` — `failed`/`item_not_fiscal`. Kaspi не
        вызывается, фискальный документ не пишется. Поле `simulate` (только sandbox,
        иначе `403 not_sandbox`) форсирует исход — так воспроизводятся `shift_closed`,
        `item_not_fiscal`, `receipt_kaspi_error`. Вебхуки `receipt.issued`/`receipt.failed`
        уходят при любом терминальном статусе чека.
      operationId: createReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_type, client_operation_id, cart_items]
              properties:
                payment_type: {type: integer, enum: [3, 5]}
                client_operation_id: {type: string, maxLength: 191, description: "Ключ идемпотентности (уникален на организацию)."}
                kaspi_connection_id: {type: integer, nullable: true}
                received_amt: {type: number, nullable: true, description: "Наличные: полученная сумма (>= итога, для сдачи). POS другого банка игнорируется (= итогу)."}
                cart_items:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [catalog_item_id, quantity]
                    properties:
                      catalog_item_id: {type: integer, description: "ID позиции из GET /catalog."}
                      quantity: {type: integer, minimum: 1}
                      price: {type: number, nullable: true, description: "Цена за единицу; по умолчанию — selling_price из каталога."}
                simulate:
                  type: object
                  nullable: true
                  description: |
                    **Только песочница** (боевая организация → `403 not_sandbox`). Форсирует
                    исход чека, чтобы интегратор обкатал обработку ошибок.
                  required: [status]
                  properties:
                    status: {type: string, enum: [issued, failed], description: "issued — обычный sandbox-путь (корзина резолвится строго); failed — терминальный сбой."}
                    error_code: {type: string, nullable: true, enum: [shift_closed, item_not_fiscal, receipt_kaspi_error], description: "Код при status=failed; по умолчанию receipt_kaspi_error."}
      responses:
        '202':
          description: Чек принят в обработку
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: integer}
                  status: {type: string, example: pending}
                  client_operation_id: {type: string}
        '400':
          description: organization_required
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            `fiscal_receipts_disabled` — приостановлена запись через целевого кассира;
            `not_sandbox` — simulate прислан вне песочницы; `tariff_inactive` — подписка
            на ApiPay не активна.
        '409':
          description: |
            Дубль `client_operation_id` (`duplicate_client_operation_id`); нет кассира
            (`kaspi_session_not_configured`); `kaspi_session_expired` — сессия кассира мертва,
            чек не выбит (нужна переавторизация кассира).
        '422':
          description: Ошибка валидации / connection_ambiguous
    get:
      tags: [Receipts]
      summary: История фискальных чеков
      description: |
        Пагинированный список чеков организации, свежие сверху (`created_at DESC`).
        Пагинация — **плоская** `{current_page, data, total}` (не meta-обёртка).
        Элемент списка — та же форма, что у `GET /receipts/{id}`.

        Выборка скоупится режимом организации: боевая организация видит только боевые
        чеки, тестовая — только тестовые.

        **Чтение истории не гейтится ничем**: список уже выбитых чеков остаётся доступен
        всегда. `403 fiscal_receipts_disabled` бывает только на `POST /receipts`
        и `POST /receipts/preview` (пауза записи через кассира).
      operationId: listReceipts
      parameters:
        - name: status
          in: query
          description: Фильтр по статусу.
          schema: {type: string, enum: [pending, issued, failed]}
        - name: payment_type
          in: query
          description: 3 — наличные, 5 — POS другого банка.
          schema: {type: integer, enum: [3, 5]}
        - name: invoice_id
          in: query
          description: Чеки, привязанные к конкретному счёту.
          schema: {type: integer}
        - name: from
          in: query
          description: |
            Нижняя граница `created_at` (дата или дата-время). Голая дата и дата-время без
            смещения трактуются в **Asia/Almaty** (+05:00) — календарный день мерчанта;
            явное смещение (`2026-07-13T10:00:00+03:00`, `...Z`) берётся как есть.
          schema: {type: string}
        - name: to
          in: query
          description: |
            Верхняя граница `created_at`; должна быть >= `from`, иначе `422`. Голая дата
            (`2026-07-13`) включает весь день целиком **по Asia/Almaty**; дата-время без
            смещения трактуется в Asia/Almaty, с явным смещением — берётся как есть.
          schema: {type: string}
        - name: per_page
          in: query
          schema: {type: integer, minimum: 1, maximum: 100, default: 20}
        - name: page
          in: query
          schema: {type: integer, minimum: 1, default: 1}
      responses:
        '200':
          description: Список чеков
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page: {type: integer, example: 1}
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FiscalReceiptListItem'
                  total: {type: integer, example: 12}
        '400':
          description: organization_required
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/receipts/{id}":
    get:
      tags: [Receipts]
      summary: Статус фискального чека
      description: |
        Возвращает текущий статус чека и его реквизиты (`fpd`, `operation_id`, `link` —
        публичная страница чека, открывается в обычном браузере, — `shift_number`).
        `status`: `pending` | `issued` | `failed`. Чужой `id` → `404`.
      operationId: showReceipt
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer}
      responses:
        '200':
          description: Статус чека
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: integer}
                  status: {type: string, enum: [pending, issued, failed]}
                  payment_type: {type: integer, enum: [3, 5]}
                  invoice_id: {type: integer, nullable: true}
                  client_operation_id: {type: string, nullable: true}
                  total_price: {type: string, nullable: true}
                  received_amt: {type: string, nullable: true}
                  fpd: {type: string, nullable: true}
                  operation_id: {type: string, nullable: true}
                  operation_time: {type: string, nullable: true}
                  shift_number: {type: integer, nullable: true}
                  link: {type: string, nullable: true, description: "Публичная страница чека — `receipt.kaspi.kz/web/fiscal?i={ФПД}&f={РНМ кассы}&s={сумма}&t={время операции}`, открывается в любом браузере. У чеков песочницы и в редком ответе Kaspi без РНМ кассы здесь остаётся внутренняя страница приложения Kaspi Pay (`/preview/cashier`), которая вне приложения чек не отрисовывает.", example: "https://receipt.kaspi.kz/web/fiscal?i=000000000000&f=000000000000&s=10&t=2026-07-12%2015%3A25%3A43"}
                  error_code: {type: string, nullable: true}
                  error_message: {type: string, nullable: true}
                  created_at: {type: string, format: date-time, nullable: true}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Чек не найден (receipt_not_found)
  "/qr-refunds":
    post:
      tags: [QR Refunds]
      summary: Старт QR-возврата
      description: |
        Создаёт сессию возврата и отдаёт возвратный QR (`qr_token_url`/`qr_image_url`),
        который мерчант показывает клиенту. Клиент сканирует → сессия переходит в
        `customer_identified` (вебхук `qr_refund.identified`), после чего доступен список
        его возвратных операций (`GET .../operations`). Жизненный цикл: `awaiting_scan` →
        (`customer_identified` | `expired`) → `completed`. TTL QR — минуты (`expires_at`);
        опрашивайте `GET /qr-refunds/{id}` каждые `poll_interval_seconds` (или ждите вебхук).
      operationId: startQrRefund
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kaspi_connection_id: {type: integer, nullable: true, description: Кассир; по умолчанию primary}
      responses:
        '201':
          description: Сессия создана
          content: {application/json: {schema: {$ref: '#/components/schemas/QrRefundSession'}}}
        '400': {description: "organization_required / organization_not_verified / kaspi_session_not_configured / sandbox_limit"}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/TariffInactive'}
        '422': {description: "connection_ambiguous / невалидный kaspi_connection_id"}
        '503': {description: "kaspi_session_invalid — сессия кассира недоступна"}
  "/qr-refunds/{id}":
    get:
      tags: [QR Refunds]
      summary: Статус сессии QR-возврата
      operationId: getQrRefund
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer}}
      responses:
        '200':
          description: Снимок сессии
          content: {application/json: {schema: {$ref: '#/components/schemas/QrRefundSession'}}}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/TariffInactive'}
        '404': {description: "Сессия не найдена (not_found)"}
  "/qr-refunds/{id}/operations":
    get:
      tags: [QR Refunds]
      summary: Возвратные операции клиента
      description: |
        Доступно только после `customer_identified`. Возвращает операции клиента
        (возвраты, оплаты — с признаком `returnable`: `none`/`partial`/`full`). Keyset-
        пагинация через `cursor` (`has_more`/`next_cursor`).
      operationId: listQrRefundOperations
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer}}
        - {name: cursor, in: query, required: false, schema: {type: string}}
      responses:
        '200':
          description: Список операций
          content: {application/json: {schema: {$ref: '#/components/schemas/QrRefundOperationList'}}}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/TariffInactive'}
        '404': {description: not_found}
        '409': {description: "qr_refund_not_identified / qr_refund_expired / qr_refund_completed"}
  "/qr-refunds/{id}/operations/{ref}":
    get:
      tags: [QR Refunds]
      summary: Детали возвратной операции
      operationId: getQrRefundOperation
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer}}
        - {name: ref, in: path, required: true, schema: {type: string}, description: Непрозрачный operation_ref из списка}
      responses:
        '200':
          description: Детали операции + возвратные позиции
          content: {application/json: {schema: {$ref: '#/components/schemas/QrRefundOperationDetails'}}}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/TariffInactive'}
        '404': {description: not_found}
        '409': {description: "qr_refund_not_identified / qr_refund_expired / qr_refund_completed"}
        '422': {description: "operation_not_returnable (в т.ч. невалидный ref)"}
  "/qr-refunds/{id}/execute":
    post:
      tags: [QR Refunds]
      summary: Выполнить возврат (синхронно)
      description: |
        Полный возврат — без `amount`/`items`. Частичный — `amount` ИЛИ `items`
        (взаимоисключимы). Ответ `200` = возврат выполнен (терминал), дополнительно
        приходит вебхук `qr_refund.completed`. Ошибка операции (уже возвращено / не
        подлежит / сумма) → `422`, сессия остаётся `customer_identified` (можно повторить
        с другой операцией). Истечение QR/личности → `409 qr_refund_expired`.
      operationId: executeQrRefund
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ExecuteQrRefundRequest'}
      responses:
        '200':
          description: Возврат выполнен
          content: {application/json: {schema: {$ref: '#/components/schemas/QrRefundExecuted'}}}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {description: "tariff_inactive / not_sandbox (поле simulate вне песочницы)"}
        '404': {description: not_found}
        '409': {description: "qr_refund_not_identified / qr_refund_expired / qr_refund_completed"}
        '422': {description: "operation_not_returnable / refund_amount_exceeds_available / partial_refund_requires_return_items"}
  "/qr-refunds/{id}/simulate":
    post:
      tags: [Sandbox]
      summary: Симулировать переход QR-возврата (sandbox)
      description: |
        Только sandbox (боевая сессия → `403 not_sandbox`). `identified` — клиент
        отсканировал (client_name = "Иван И."); `expired` — QR просрочен. «Не отсканировал,
        ждёт» = начальное `awaiting_scan` (просто `GET /qr-refunds/{id}`, без simulate).
      operationId: simulateQrRefund
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event: {type: string, enum: [identified, expired]}
      responses:
        '200':
          description: Снимок сессии
          content: {application/json: {schema: {$ref: '#/components/schemas/QrRefundSession'}}}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {description: not_sandbox}
        '404': {description: not_found}
  "/refunds":
    get:
      tags: [Refunds]
      summary: Список возвратов
      description: |
        Все возвраты организации (по всем счетам) с фильтрацией. Пагинация — **плоская**
        `{current_page, data, total}`. Даты в ОТВЕТЕ — UTC `+00:00`.

        Окно `date_from`/`date_to` — по времени ОПЕРАЦИИ возврата, в зоне мерчанта
        (Asia/Almaty): голая дата = календарные сутки целиком, `Y-m-d H:i` = точная минута.
      operationId: listRefunds
      parameters:
        - name: "status[]"
          in: query
          description: Фильтр по статусам возврата.
          schema:
            type: array
            items:
              type: string
              enum: [pending, processing, completed, failed]
        - name: invoice_id
          in: query
          description: Фильтр по ID счёта (должен существовать).
          schema:
            type: integer
        - name: date_from
          in: query
          description: Начало окна включительно — `Y-m-d` или `Y-m-d H:i[:ss]` (зона Almaty).
          example: "2026-08-03 11:00"
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}([ T]\d{2}:\d{2}(:\d{2})?(Z|[+-]\d{2}:?\d{2})?)?$'
        - name: date_to
          in: query
          description: Конец окна включительно, тот же формат. Должен быть >= date_from.
          example: "2026-08-04 03:00"
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}([ T]\d{2}:\d{2}(:\d{2})?(Z|[+-]\d{2}:?\d{2})?)?$'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Список возвратов
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RefundWithInvoice'
                  total:
                    type: integer
                    example: 25
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/webhook-logs":
    get:
      tags: [Webhooks]
      summary: Логи доставки вебхуков
      description: |
        Read-only список доставок вебхуков своей организации — для верификации,
        что вебхук по счёту/событию реально ушёл и что ответил приёмник (в т.ч.
        для автономных агент-циклов в sandbox). Пагинация — **плоская**
        `{current_page, data, total}`. Ре-отправка (retry) здесь недоступна —
        только в кабинете.
      operationId: listWebhookLogs
      parameters:
        - name: invoice_id
          in: query
          description: Фильтр по ID счёта.
          schema:
            type: integer
        - name: event
          in: query
          description: Фильтр по событию (например `invoice.status_changed`, `invoice.qr_scanned`, `invoice.refunded`).
          schema:
            type: string
        - name: status
          in: query
          description: Статус доставки.
          schema:
            type: string
            enum: [success, failed]
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, response_time_ms, response_status]
            default: created_at
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Список доставок (пустой, если у ключа нет организации)
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookLogEntry'
                  total:
                    type: integer
                    example: 25
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/webhook-logs/{id}":
    get:
      tags: [Webhooks]
      summary: Одна доставка вебхука
      description: |
        Детали одной доставки (полные `request_body`/`response_body`). Лог чужой
        организации → `404` (non-enumeration).
      operationId: getWebhookLog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Доставка вебхука
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookLogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Лог не найден (или принадлежит другой организации)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: {type: string, example: Not found}
  "/catalog/webhook-logs":
    get:
      tags: [Catalog]
      summary: Логи доставок catalog.item_processed
      description: |
        Read-only список доставок вебхука `catalog.item_processed` своей организации
        (отдельно от `/webhook-logs` — своя таблица, ротация **3 дня**). Пагинация
        **плоская** `{current_page, data, total}`. Все логи организации видны любому
        её ключу (лог принадлежит организации; орг резолвится из ключа).
      operationId: listCatalogWebhookLogs
      parameters:
        - name: status
          in: query
          description: Итог доставки.
          schema:
            type: string
            enum: [success, failed]
        - name: catalog_item_id
          in: query
          description: Фильтр по ID позиции каталога.
          schema:
            type: integer
        - name: created_after
          in: query
          description: Только доставки не раньше указанного момента (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Список доставок (пустой, если у ключа нет организации)
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page: {type: integer, example: 1}
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogWebhookLogEntry'
                  total: {type: integer, example: 25}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/catalog/queue":
    get:
      tags: [Catalog]
      summary: Остаток очереди приёма каталога + ETA
      description: |
        Остаток **своей** pending-очереди приёма каталога (POST /catalog) со слим-полями +
        блок `queue` с честным ETA в минутах. ETA учитывает общую FIFO-очередь кассира
        (несколько организаций на одном кассире). Пагинация **плоская**
        `{current_page, data, total, queue}`. Скоуп — организация ключа (чужие строки
        недоступны). Rate-limit **600/min per key** (не жжёт общий лимит 200/min).
      operationId: getCatalogQueue
      parameters:
        - name: sort_order
          in: query
          description: FIFO — ближайшие к обработке первыми (asc).
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 20
            maximum: 100
            default: 100
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Остаток очереди (пустой, если у ключа нет организации → state=not_connected)
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page: {type: integer, example: 1}
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogQueueItem'
                  total: {type: integer, example: 1234}
                  queue:
                    $ref: '#/components/schemas/CatalogQueueBlock'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/catalog/errors":
    get:
      tags: [Catalog]
      summary: Ошибки приёма каталога
      description: |
        Failed-позиции приёма каталога своей организации с **обезличенными** текстами
        ошибок (сырые ответы Kaspi не отдаются). Фильтр по периоду **постановки в очередь**
        (`created_at`); при отсутствии `from` — окно **последних 7 дней**. Пагинация
        **плоская** `{current_page, data, total}`. Rate-limit **600/min per key**
        (не жжёт общий лимит 200/min).
      operationId: getCatalogErrors
      parameters:
        - name: from
          in: query
          description: |
            Начало окна (включительно), по created_at. Default — now-7d при отсутствии.
            Голая дата и дата-время без смещения трактуются в **Asia/Almaty** (+05:00) —
            календарный день мерчанта; явное смещение берётся как есть.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: |
            Конец окна (включительно). Должен быть >= from, иначе 422. Голая дата
            (`2026-07-13`) включает весь день целиком **по Asia/Almaty**; дата-время без
            смещения трактуется в Asia/Almaty, с явным смещением — берётся как есть.
          schema:
            type: string
            format: date-time
        - name: batch_id
          in: query
          description: Фильтр по UUID батча приёма (last_batch_id).
          schema:
            type: string
            format: uuid
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 20
            maximum: 100
            default: 100
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Ошибки приёма (пустой, если у ключа нет организации)
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page: {type: integer, example: 1}
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogErrorItem'
                  total: {type: integer, example: 999}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  "/catalog/batches/{id}":
    get:
      tags: [Catalog]
      summary: Прогресс bulk-батча приёма каталога
      description: |
        Агрегированный прогресс bulk-батча (POST /catalog с per-item очередью). Скоуп строго
        по организации ключа — чужой/несуществующий/битый UUID → **404** (non-enumeration).
        Итог батча также приходит вебхуком `catalog.batch_processed`. Rate-limit **600/min per
        key** (не жжёт общий лимит 200/min).
      operationId: getCatalogBatch
      parameters:
        - name: id
          in: path
          required: true
          description: UUID батча (batch_id из ответа POST /catalog).
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Прогресс батча
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Батч не найден (или принадлежит другой организации)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: {type: string, example: batch_not_found}
                  message: {type: string, example: "Батч не найден."}
  "/tariff/plans":
    get:
      tags: [Tariff & Account]
      summary: Каталог тарифов
      description: Список тарифов (start/business/pro) и планов (тариф × период 1/3/6/12 мес). Это подписка мерчанта на ApiPay.
      operationId: getTariffPlans
      responses:
        '200':
          description: Тарифы и планы
          content:
            application/json:
              schema:
                type: object
                properties:
                  tiers:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: string, example: start}
                        label: {type: string, example: Старт}
                        daily_limit: {type: integer, nullable: true, description: "Лимит счетов в день из каталога тарифов (start 30, business 100, pro 300). null — лимит в каталоге не задан, объём согласуется индивидуально; ни у одного из действующих тарифов null не встречается.", example: 30}
                        base_price: {type: integer, example: 10000}
                  plans:
                    type: array
                    items:
                      type: object
                      properties:
                        tier_id: {type: string, example: start}
                        period_months: {type: integer, example: 3}
                        price: {type: integer, example: 28500}
                        discount_percent: {type: integer, example: 5}
                        label: {type: string, example: "Старт, 3 месяца"}
                        price_per_month: {type: number, example: 9500}
        '401':
          $ref: '#/components/responses/Unauthorized'
  "/tariff":
    get:
      tags: [Tariff & Account]
      summary: Статус своей подписки на ApiPay
      description: |
        Снимок подписки мерчанта на ApiPay (lifecycle + суммы). Это подписочная плата
        мерчант→ApiPay, **не оборот мерчанта**. Даты — Asia/Almaty `+05:00`.
      operationId: getTariff
      responses:
        '200':
          description: Снимок тарифа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffSnapshot'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Организация не резолвится из ключа
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: {type: string, example: Organization not resolved}
  "/account/health":
    get:
      tags: [Tariff & Account]
      summary: Health своего аккаунта
      description: |
        Состояние аккаунта: API, подключение кассира (в т.ч. `session_status` — так
        детектится «слетела Kaspi-сессия» поллингом, без вебхука), тариф и признак
        накопления счетов (`invoicing.accumulating` — активный кассир в hold-наборе,
        счета копятся и в Kaspi не уходят). Даты — Asia/Almaty `+05:00`.
      operationId: getAccountHealth
      responses:
        '200':
          description: Health аккаунта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHealth'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Организация не резолвится из ключа
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: {type: string, example: Organization not resolved}
  "/connections":
    get:
      tags: [Connections]
      summary: Список кассиров
      description: |
        Кассиры организации ключа. Требует per-key флаг
        `can_manage_cashiers` (иначе `403 cashier_management_disabled`).
      operationId: listConnections
      responses:
        '200':
          description: Список кассиров
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
    post:
      tags: [Connections]
      summary: Создать кассира
      description: |
        Создаёт pending-кассира (self-hosted) для последующей OTP-авторизации.
        Kill-switch мультикассирности и инвариант primary — на сервере.
      operationId: createConnection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  nullable: true
                  minLength: 2
                  maxLength: 120
                  description: Название кассира.
      responses:
        '201':
          description: Кассир создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '422':
          description: Гейт мультикассирности (запрет 2-го+ кассира) или валидация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  "/connections/{connection}":
    put:
      tags: [Connections]
      summary: Переименовать кассира
      operationId: updateConnection
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label:
                  type: string
                  minLength: 2
                  maxLength: 120
      responses:
        '200':
          description: Кассир обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '404':
          $ref: '#/components/responses/ConnectionNotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags: [Connections]
      summary: Деактивировать кассира
      description: |
        Помечает кассира inactive (soft delete). Гарды последнего/primary кассира → 422.

        ⚠️ Денежное последствие. После деактивации возвраты по счетам, оплаченным через этого
        кассира, через API не проходят: запрос принимается, но возврат завершается статусом
        `failed` — приходит вебхук `invoice.refunded` со `status: failed`. Такие возвраты
        проводят вручную в приложении Kaspi Pay. Проведите нужные возвраты до деактивации.
      operationId: deleteConnection
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      responses:
        '200':
          description: Кассир деактивирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean, example: true}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '404':
          $ref: '#/components/responses/ConnectionNotFound'
        '422':
          description: Нельзя удалить последнего/primary кассира
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  "/connections/{connection}/primary":
    post:
      tags: [Connections]
      summary: Назначить кассира основным
      operationId: setPrimaryConnection
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      responses:
        '200':
          description: Кассир назначен primary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '404':
          $ref: '#/components/responses/ConnectionNotFound'
  "/connections/{connection}/auth/init":
    post:
      tags: [Connections]
      summary: Старт авторизации кассира
      description: |
        Шаг 1 из 3 self-hosted авторизации. `force=true` — переавторизация поверх живой
        сессии (при слёте). Лимит **5/мин**. External-mode
        кассир → `409 external_mode_not_reauthable`. Тестовая (sandbox) организация
        партнёра → `409 test_organization`: реальный кассир к ней не привязывается,
        песочница проходится мок-контуром Partner API.
      operationId: connectionAuthInit
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Процесс авторизации начат
          content:
            application/json:
              schema:
                type: object
                properties:
                  process_id: {type: string, example: "a1b2c3d4"}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '404':
          $ref: '#/components/responses/ConnectionNotFound'
        '409':
          description: |
            `external_mode_not_reauthable` — external-кассира нельзя переавторизовать
            через этот API. `test_organization` — организация тестовая (`is_test`),
            реальная авторизация кассира для неё запрещена: состояние постоянное,
            ретрай бессмыслен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                test_organization:
                  value: {error: test_organization, message: "Test organization cannot authorize a real Kaspi cashier"}
        '503':
          $ref: '#/components/responses/EntranceAuthDisabled'
  "/connections/{connection}/auth/send-phone":
    post:
      tags: [Connections]
      summary: Отправить телефон кассира (SMS)
      description: Шаг 2 из 3. Kaspi отправляет OTP на номер кассира. Лимит **5/мин**.
      operationId: connectionAuthSendPhone
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phoneNumber]
              properties:
                phoneNumber:
                  type: string
                  pattern: '^7\d{10}$'
                  description: Телефон кассира, формат 7XXXXXXXXXX.
                  example: "77001234567"
      responses:
        '200':
          description: SMS отправлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean, example: true}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '404':
          $ref: '#/components/responses/ConnectionNotFound'
        '409':
          description: |
            `context_expired` — контекст процесса протух либо Kaspi его закрыл: нужен новый
            `init`, повторять `send-phone` бесполезно. `no_process` — авторизация не начата
            (или уже закрыта предыдущим терминальным исходом). `cashier_unavailable` —
            кассира сейчас нельзя подключить; причина намеренно не раскрывается, повтор
            не поможет, обратитесь в поддержку. `test_organization` — организация
            тестовая (`is_test`): реальный кассир к ней не привязывается.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                context_expired:
                  value: {error: context_expired, message: "Auth session expired — re-initialize"}
                cashier_unavailable:
                  value: {error: cashier_unavailable, message: "Cashier is unavailable for connection"}
        '429':
          description: |
            `rate_limited` — за сутки с этого аккаунта пробовали слишком много РАЗНЫХ
            номеров кассиров. ⚠️ Окно СУТОЧНОЕ: `Retry-After` содержит секунды до
            обнуления счётчика (часы, не минуты) — повторять раньше бесполезно.
            Уже подключённые кассиры этого владельца в счётчик не входят, поэтому
            переавторизация рабочей точки лимитом не блокируется.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Секунд до обнуления суточного счётчика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                rate_limited:
                  value: {error: rate_limited, message: "Too many cashier connection attempts — retry later"}
        '422':
          description: |
            Ошибка формата `phoneNumber` (стандартная Laravel-форма валидации) либо
            `not_cashier` (у номера есть пароль/роли сверх кассира), `not_registered`
            (номер не заведён кассиром в Kaspi).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorBody'
              examples:
                not_cashier:
                  value: {error: not_cashier, message: "Number is not a cashier-only account"}
        '502':
          description: '`sms_failed` — Kaspi не вернул экран ввода OTP.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                sms_failed:
                  value: {error: sms_failed, message: "OTP screen was not returned"}
        '503':
          $ref: '#/components/responses/CashierAuthUnavailable'
  "/connections/{connection}/auth/verify-otp":
    post:
      tags: [Connections]
      summary: Подтвердить OTP кассира
      description: |
        Шаг 3 из 3 (point of no return). Лимит **10/мин**. При
        неверном OTP — `200` с `success:false` (можно повторить). При успехе — `success:true`
        и сессия кассира активирована.

        ⚠️ **Не всякий неуспех повторяем.** Kaspi может код **принять** и увести на
        универсальную регистрацию («введите ИИН») — это значит, что номер не заведён
        кассиром. Тогда шаг отдаёт **`422 not_registered`**, а не `200`: сессия
        авторизации закрыта, повторять OTP или слать SMS заново бессмысленно —
        следующий `send-phone` вернёт `409 no_process`. Нужен новый `init` после того,
        как номер добавлен кассиром в Kaspi Pay → Кассиры. Так же терминальны
        `409 context_expired` (Kaspi потерял контекст → новый `init`) и
        `503 kaspi_busy` (анти-абуз Kaspi → пауза по `Retry-After`, затем новый `init`).
      operationId: connectionAuthVerifyOtp
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp]
              properties:
                otp:
                  type: string
                  description: Код из SMS, 4–6 цифр.
                  example: "123456"
      responses:
        '200':
          description: Результат проверки OTP (success true/false)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean, example: true}
                  mode: {type: string, example: self, description: "Только при success=true."}
                  org_name: {type: string, nullable: true, description: "Только при success=true."}
                  phone: {type: string, description: "Маскированный телефон кассира (при success=true).", example: "770****4567"}
                  sandbox_mode: {type: boolean, example: false}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CashierManagementDisabled'
        '404':
          $ref: '#/components/responses/ConnectionNotFound'
        '409':
          description: |
            Терминально: `context_expired` — Kaspi потерял контекст процесса (нужен новый
            `init`, а не повтор OTP); `no_process` — авторизация не начата либо уже
            закрыта предыдущим терминальным исходом; `test_organization` — организация
            тестовая (`is_test`), реальная авторизация кассира для неё запрещена.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                context_expired:
                  value: {error: context_expired, message: "Auth session expired — re-initialize"}
                no_process:
                  value: {error: no_process, message: "Auth session is not initialized"}
        '422':
          description: |
            Ошибка формата `otp` (стандартная Laravel-форма валидации) либо терминальный
            `not_registered` — Kaspi принял код, но увёл на регистрацию пользователя:
            номер не заведён кассиром. Сессия закрыта, ретрай бессмыслен.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorBody'
              examples:
                not_registered:
                  value: {error: not_registered, message: "Number is not a registered Kaspi cashier"}
        '503':
          $ref: '#/components/responses/CashierAuthUnavailable'
  "/connections/{connection}/auth/status":
    get:
      tags: [Connections]
      summary: Статус сессии кассира
      operationId: connectionAuthStatus
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      responses:
        '200':
          description: Статус сессии
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection_id: {type: integer, example: 7}
                  mode: {type: string, example: self}
                  status: {type: string, description: "Статус кассира (напр. active/pending/inactive).", example: active}
[...]
